
html{
    scrollbar-color: $primary-border-color $primary-background-color ;    
    scrollbar-width:  thin ; 
}

body {
  position: relative;
  margin: 58px 0 0 0;
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: $primary-font-family, sans-serif;
  overflow: overlay;
  font-size: 15px;
  line-height: 1.46;
  @media screen and (min-width: $desktop-up) {
    min-height: calc(100vh - 230px + 80px);
    margin: 128px 0 0 0;
  }
}

::-webkit-scrollbar-thumb {
  background: $primary-border-color;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
.scrollRem {
  ::-webkit-scrollbar {
    width: 5px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $mobile-first) {
    min-width: $mobile-first;
  }
  @media screen and (min-width: $mobile-general) {
    width: $mobile-general;
  }
  @media screen and (min-width: $tablet-general) {
    width: $tablet-general;
  }
  @media screen and (min-width: $desktop-up) {
    width: $desktop-up;
  }
}
.container-hero {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $mobile-first) {
    min-width: $mobile-first;
  }

  @media screen and (min-width: $mobile-general) {
    width: $mobile-general;
  }

  @media screen and (min-width: $tablet-general) {
    width: $tablet-general;
  }
  @media screen and (min-width: $desktop-up) {
    width: $desktop-up;
  }
  @media screen and (min-width: 1920px) {
    width: 1920px;
  }
}
.container__header {
  position: relative;
}
