//in project used:
// 'Lato',
// Futura-Medium = "Red Hat Text" (400/500 )
// HelveticaNeueCyr = Open Sans (400 )
// Futura-Book,Futura Md BT = Jost (400)

//$tablet-general for modal window implementation
body{
  position: relative;
  margin: 128px 0 0 0;
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: $primary-font-family, sans-serif;
  font-size: 15px;
  line-height: 1.46;
}


body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $mobile-first) {
    min-width: $mobile-first;
  }
  @media screen and (min-width: $mobile-general) {
    width: $mobile-general;
  }
  @media screen and (min-width: $tablet-general) {
    width: $tablet-general;
  }
  @media screen and (min-width: $desktop-up) {
    width: $desktop-up;
  }
}
