//in project used:
// 'Lato',
// Futura-Medium = "Red Hat Text" (400/500 )
// HelveticaNeueCyr = Open Sans (400 )
// Futura-Book,Futura Md BT = Jost (400)
$primary-font-family:'Open Sans';
$secondary-font-family:'Lato';
$third-font-family:'Red Hat Text';
$selection-font-family:'Jost';
