%button {
  font-family: $selection-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18 / 15 * 100%;

  text-align: center;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  cursor: pointer;
}

%form__btn {
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color $time-cubic;
  border: 1px solid $secondary-text-color;
}

//home-review button placeholder styles
%button-line {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: $accent-favorite-btn-color;
}
