%button {
  font-family: $selection-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18 / 15 * 100%;

  text-align: center;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}
