// root

//text
$primary-text-color: #171717;
$secondary-text-color:#000000 ;
$third-text-color: #C0A78F;
$selection-text-color: #FFFFFF;

//title
$primary-title-text-color: #000000;
$secondary-title-text-color: #272727;
$selection-title-text-color: #FFFFFF;

//accent
$accent-color: #E1C4A9;
$accent-btn-color: #FFFFFF;
$secondary-accent-btn-color: #242424;
$accent-favorite-btn-color:#D7BCA3;

//background
$primary-background-color: #E5E5E5;
$secondary-background-color: #252831;
$menu-background-color:#FFFFFF ;


//logo
$primary-logo-color: #000000;
$secondary-logo-color: #8D8D8D;
$third-logo-color: #222222;
$selection-text-color: #FFFFFF;