// root

//text
$primary-text-color: #b9b9b9;
$secondary-text-color: #3d3d3d;
$third-text-color: #ffffff;
$selection-text-color: #ff6b09;

//title
$primary-title-text-color: #111518;
$secondary-title-text-color: #ffffff;
$selection-title-text-color: #ff6b09;

//accent
$accent-color: #ff6b09;
$secondary-accent-color: #1909ff;

//background
$primary-background-color: #ffffff;
$secondary-background-color: #111518;
$third-background-color: #f1f1f1;
$menu-background-color: rgba(17, 21, 24, 0.9);

//logo
$primary-logo-color: #111518;
$secondary-logo-color: #ff6b09;
$third-logo-color: #ffffff;