// root

// slider dots
$star-clients-slider-dots: #d9dbe1;
$star-clients-slider-dots-placeholder: #ffffff;
$star-clients-slider-dots-border: #e1e1e1;
$hero-slider-dots: rgba(255, 255, 255, 0.45);
$showroom-slider-dots-border: #e1e1e1;
$showroom-slider-dots: rgba(255, 255, 255, 0.45);
$in-instagram-slider-dots: #d9dbe1;
$in-instagram-slider-dots-placeholder: #ffffff;
$in-instagram-slider-dots-border: #e1e1e1;

//text
$primary-text-color: #171717;
$secondary-text-color: #000000;
$third-text-color: #c0a78f;
$selection-text-color: #ffffff;
$form-text-color: #a6a6a9;
$secondary-form-text-color: #b3b3b3;
$input-text-color: hsl(0, 0%, 72%);
$btn-text-color: #c7c3c3;
$fourth-text-color: #afafaf;
$fourth-text-color: #a7a7a7;
$fifth-text-color: #b8b5b5;
$sixth-text-color: #c0c0c0;
$seventh-text-color: #9d9dad;
$favorites-info-color: #242424;

//title
$primary-title-text-color: #000000;
$secondary-title-text-color: #272727;
$selection-title-text-color: #ffffff;

//title-text-shadow
$primary-title-text-shadow: 0px 0px 1px #000000;

//accent
$accent-color: #e1c4a9;
$accent-btn-color: #ffffff;
$secondary-accent-btn-color: #242424;
$accent-favorite-btn-color: #d7bca3;
$third-accent-color: #c0a78f;
$accent-background-selector-color: #f8efe7;
$button-hover-background-color: #000000;

//background
$primary-background-color: #ffffff;
$secondary-background-color: #252831;
$footer-background-color: transparent;

$modal-background-color: #ffffff;
$menu-background-color: #e1c4a9;
$button-background-color: #242424;

$btn-background-color: #efefef;
$message-amount-thumb-color: #e20613;
$favorites-after-color: #eaeaea;

//svg-fill
$primary-svg-color: #000000;

//logo
$primary-logo-color: #000000;
$secondary-logo-color: #8d8d8d;
$third-logo-color: #222222;
$fourt-logo-color: #191919;
$selection-text-color: #ffffff;

//border
$border-color: #e3e4e4;
$primary-border-color: #676767;
$secondary-border-color: #dadada;
$third-border-color: #d0d0d0;
$favorites-description-color: #e0e0e0;

//input
$placeholder-color: #a6a6a9;
$primery-border-color: #e6e6e6;
$primaty-slick-dots: #ced2db;

//button
$button-text-color: #b6b6b6;
$button-border-color: #e7dcdc;
$button-background-color: transparent;
$button-first-fill-color: #333333;
$button-second-fill-color: #ffffff;
$button-third-fill-color: #2f2f2f;
$button-checkout-color:#242424;


// backdrop
$backdrop-color: #e5e5e5;
$button-counter-color: #c6c6c6;



//bars
$main-bar: #d7b494;
