// root

//text
$primary-text-color: #171717;
$secondary-text-color: #000000;
$third-text-color: #c0a78f;
$selection-text-color: #ffffff;

//title
$primary-title-text-color: #000000;
$secondary-title-text-color: #272727;
$selection-title-text-color: #ffffff;

//accent
$accent-color: #e1c4a9;
$accent-btn-color: #ffffff;
$secondary-accent-btn-color: #242424;
$accent-favorite-btn-color: #d7bca3;
$accent-outline-btn-color: #e3e4e4;

//background
$primary-background-color: #ffffff;
$secondary-background-color: #252831;
$footer-background-color: transparent;
$modal-background-color: #ffffff;
$menu-background-color: #e1c4a9;

//logo
$primary-logo-color: #000000;
$secondary-logo-color: #8d8d8d;
$third-logo-color: #222222;
$selection-text-color: #ffffff;
