.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
  opacity: 1;
  transition: all $time-cubic;
  &--hiden {
    opacity: 0;
  }
}
.loading__text-before,
.loading__text-after {
  @include position-center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.loading__text-after {
  top: -77px;
  & span {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;

    @for $i from 0 through 8 {
      &:nth-child(#{$i + 1}) {
        filter: blur(0px);
        animation: blur-text 1.5s (#{$i/7}) + s infinite linear alternate;
      }
    }
  }
}

.loading__text-before span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;

  @for $i from 0 through 6 {
    &:nth-child(#{$i + 1}) {
      filter: blur(0px);
      animation: blur-text 1.5s (#{$i/5}) + s infinite linear alternate;
    }
  }
}
