.fitting {
  max-width: 100vh;
  font-family: $secondary-font-family, sans-serif;
}

/* fitting shipping */
.fitting__heading {
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 39px;
  padding-top: 39px;
  margin-left: auto;
  margin-right: auto;
}

.fitting__minor-title {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  margin: 0 auto 22px auto;
}

.fitting__shipping-list {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;

  display: inline-block;
  padding-left: 30px;
  position: relative;
  & + .fitting__shipping-list {
    margin-top: 45px;
  }
}

.fitting__shipping-list::before {
  content: '';
  width: 15px;
  height: 1px;
  background-color: $secondary-background-color;
  display: block;

  position: absolute;
  top: 10px;
  left: 0px;
}

.fitting__form {
  padding: 0 0;
  background-color: $modal-background-color;
  border: 1px dashed $form-dashed-color;
  margin-bottom: 50px;
  @media screen and (min-width: $desktop-up) {
    padding: 0 38px;
    border: none;
    margin-bottom: 0px;
  }
}
