.fitting__first-video,
.fitting__video {
  // width: 280px;
  @media screen and (min-width: $desktop-up) {
    width: 185px;
    height: auto;
  }
  @media screen and (min-width: $mobile-general) and (max-width: $tablet-general) {
    width: 374px;
    height: auto;
  }
}
.fitting__video-slider {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  @media screen and (min-width: $mobile-first) and (max-width: $tablet-general) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $desktop-up) {
    padding: 35px;
    background-color: $third-background-color;
  }
  &-container {
    overflow: hidden;
  }
  & .slider__item {
    margin-right: 10px;
  }
  & .slick-dots li + li {
    margin-left: 20px;
  }
  & .slick-track {
    display: flex;
  }
  & .slick-list {
    overflow: hidden;
  }
  & .splide__track {
    @media screen and (min-width: $desktop-up) {
      max-width: 590px;
    }
  }

  & .slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .slider .slick-dots li {
    list-style: none;
  }
  & .slider .slick-dots button {
    font-size: 0;
    width: 5px;
    height: 5px;
    background-color: $in-instagram-slider-dots;
    border-radius: 70%;
    border: none;
  }
  & .slider .slick-dots li.slick-active button {
    width: 26px;
    border-radius: 20%;
    @media screen and (min-width: $desktop-up) {
      width: 66px;
    }
  }
  & .slider__item {
    position: relative;

    @media screen and (min-width: $mobile-first) {
      margin-left: 0;
    }
  }
}

body > main > section.fitting__section > div > div.fitting__video-slider > h3:before {
  content: '/';
  font-weight: 500;
  color: #d8deea;
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 9%;
  right: 6%;
  @media screen and (min-width: $mobile-first) and (max-width: $tablet-general) {
    display: none;
  }
}

.video-fitting-svg {
  position: absolute;
  z-index: 2;
  bottom: 50%;
  right: 50%;
  width: 45px;
  height: 45px;
  transform: translate(50%, 50%);
  transition: filter $time-cubic;
  cursor: pointer;

  @media screen and (min-width: $desktop-up) {
    .video-fitting-box:hover & {
      filter: drop-shadow(0px 0px 5px $selection-text-color);
    }
    transform: translate(0, 0);
    bottom: 18px;
    right: 18px;
  }
}

.video-fitting-fullscreen {
  display: none;
  fill: $hero-slider-dots;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  transition: filter $time-cubic;
  transition: fill $time-cubic;
  cursor: pointer;
  @media screen and (min-width: $desktop-up) {
    &:hover {
      fill: $accent-btn-color;
      filter: drop-shadow(0px 0px 5px $selection-text-color);
    }
    bottom: 18px;
    right: 18px;
  }
}
