.product-bin {
  position: relative;
  width: 384px;
  height: auto;
  max-height: calc(100vh - 50px);
  padding: 46px 20px 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: $selection-text-color;
  overflow: scroll;

  &.hidden {
    @extend %hide;
  }

  @media screen and (min-width: $desktop-up) {
    width: 640px;
    padding: 46px 46px 50px;
  }

  &__block-title {
    margin-bottom: 26px;
    @media screen and (min-width: $desktop-up) {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    margin-right: 16px;
    text-transform: uppercase;
    font-style: normal;
    font-family: $third-font-family;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
  }

  &__title-line {
    display: block;
    @media screen and (min-width: $desktop-up) {
      display: block;
      width: 100%;
      height: 1px;
      background-color: $button-counter-color;
    }
  }
  &__list {
    border-bottom: 1px solid $primery-border-color;
  }

  &__item {
    display: flex;
  }

  &__block-image {
    margin-right: 16px;
    @media screen and (min-width: $desktop-up) {
      margin-right: 18px;
    }
  }

  &__image {
    min-width: 148px;
    min-height: 220px;
  }

  &__block-character {
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop-up) {
      margin-bottom: 40px;
    }
  }

  &__block-title {
    font-family: $third-font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    @media screen and (min-width: $desktop-up) {
      line-height: 1.28;

      display: flex;
      justify-content: space-between;
    }
  }

  &__product-size {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-up) {
      margin-bottom: 36px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
    margin-bottom: 16px;
    @media screen and (min-width: $desktop-up) {
      margin-bottom: 12px;
    }
  }

  &__block-counter {
    display: flex;
    margin-bottom: 18px;
  }

  &__button-del {
    color: $secondary-text-color;
    padding: 10px 14px;
    border: none;
    background-color: transparent;
    text-decoration-line: underline;

    @media screen and (min-width: $desktop-up) {
      border: 1px solid $primery-border-color;
      background-color: $selection-text-color;
      text-decoration-line: none;
      color: $button-counter-color;
      &:hover,
      &:focus {
        color: $selection-text-color;
        background-color: $secondary-text-color;
        border: none;
      }
    }
  }

  &__delete-icon {
    display: block;
    @media screen and (min-width: $desktop-up) {
      display: inline-block;
      margin-left: 38px;
      stroke: $button-counter-color;
    }
    width: 14px;
    height: 14px;
  }

  &__block-total {
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    font-family: $third-font-family;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.35;
  }

  &__ordered {
    width: 100%;
  }
}
