.product-modal-add-cart {
  background-color: $modal-background-color;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 66px;
  padding-bottom: 60px;
  max-width: 396px;
  max-height: 682px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  // overflow: hidden;

  transform: perspective(600px) translate(-100%, -50%) rotateX(0deg);
  opacity: 1;
  transition: transform $time-cubic, opacity $time-cubic;

  &.hidden {
    @extend %hide;
    transform: perspective(600px) translate(-50%, -150%) rotateX(45deg);
    opacity: 1;
  }

  @media screen and (min-width: $desktop-up) {
    padding: 66px 120px 70px;
    width: 914px;
    height: auto;
    max-width: 914px;
    max-height: 694px;
    transform: perspective(600px) translate(-50%, -50%) rotateX(0deg);

    & .recomendation-category__item {
      width: calc((100% - 2 * 34px) / 3);
    }
  }

  &__block-container {
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $desktop-up) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__block-button {
    text-align: center;
    margin-top: 20px;
    @media screen and (min-width: $desktop-up) {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-family: $third-font-family;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &_second {
      font-size: 16px;
      line-height: 1.44;
      letter-spacing: 0.03em;
      margin-bottom: 0;
    }

    @media screen and (min-width: $desktop-up) {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 1.1;
      letter-spacing: 0.03em;
      text-align: left;
      &_second {
        font-size: 18px;
        line-height: 1.28;
      }
    }
  }
}
