.product-container {
  @media screen and (min-width: $desktop-up) {
    width: 1017px;
  }
}

.product-modal-add-cart {
  background-color: $modal-background-color;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 396px;
  max-height: 682px;
  width: 100vw;
  height: auto;
  z-index: 9999;

  transform: translate(-50%, -50%);
  opacity: 1;
  transition: transform $time-cubic, opacity $time-cubic;

  &.hidden {
    @extend %hide;
    transform: perspective(600px) translate(-50%, -150%) rotateX(45deg);
    opacity: 1;
  }

  @media screen and (min-width: $desktop-up) {
    padding: 20px 120px;
    width: 914px;
    height: auto;
    max-width: 914px;
    max-height: 694px;
    transform: perspective(600px) translate(-50%, -50%) rotateX(0deg);
  }

  &__block-container {
    padding: 66px 20px 20px;
    @media screen and (min-width: $desktop-up) {
      padding: 20px;
    }
  }

  &__block-button {
    text-align: center;
    padding: 20px 20px 66px;
    @media screen and (min-width: $desktop-up) {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    font-family: $third-font-family;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &_second {
      font-size: 16px;
      line-height: 1.44;
      letter-spacing: 0.03em;
      margin-bottom: 0;
    }

    @media screen and (min-width: $desktop-up) {
      font-size: 30px;
      line-height: 1.1;
      letter-spacing: 0.03em;
      &_second {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.28;
      }
    }
  }
}

.modal__box {
  display: none;
  @media screen and (min-width: $desktop-up) {
    display: block;
    padding: 20px;
  }

  & .recomendation-category__list {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
