body {
  background-color: slateblue;
  // overflow-x: hidden;
  // max-width: 100%;
}

.product__container {
  @media screen and (min-width: 1378px) {
    display: flex;
  }
}

// ! ----------------------------------------------МАЛЕНЬКИЙ СЛАЙДЕР //
.product-slider-smaller__wrapper {
  @media screen and (min-width: 1378px) {
    margin-right: 88px;
  }
}
.product-slider-smaller {
  @media screen and (max-width: 1377px) {
    display: none;
  }
}
/* Ограничивающая оболочка */
.product-slider-smaller .slick-list {
  width: 64px;
  overflow: hidden;
  padding: 0;
}
/* Лента слайдов */
.product-slider-smaller .slick-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Слайд */
.product-slider-smaller .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
// /* Слайд активный (показывается) */
// .product-slider-smaller .slick-slide.slick-active {
// }
/* Слайд основной */
.product-slider-smaller .slick-slide.slick-current {
  border: 1px solid #dcdcdc;
  padding: 10px 8px;
  box-sizing: content-box;
}

.product-slider-smaller__item {
  // outline: 1px red solid;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
/* Картинки маленького слайдера*/
.product-slider-smaller__image {
  width: 47px;
  height: 71px;
  cursor: pointer;
}

// !--------------------------------------------- ОСНОВНОЙ СЛАЙДЕР//

.product-slider .slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.product-slider .slick-track {
  display: flex;
}
.product-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // outline: 1px purple solid;
}
.product-slider .slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 14px;
}
.product-slider .slick-dots button {
  border-color: transparent;
  font-size: 0;
  line-height: 0;
  border-radius: 10px;
  width: 6px;
  height: 6px;

  background-color: #fff;
  position: absolute;
  z-index: 1000;
  bottom: 19px;

  @media screen and (min-width: 1378px) {
    display: none;
  }
}
.product-slider .slick-dots li.slick-active {
  margin: 0 14px;
}
.product-slider .slick-dots li.slick-active button {
  width: 26px;
}
