.product {
  @media screen and (min-width: 1378px) {
    padding-top: 50px;
  }
}

.product__container {
  @media screen and (min-width: 721px) {
    width: 414px;
  }
  @media screen and (min-width: 1378px) {
    display: flex;
    width: 1378px;
  }
}

// ! ----------------------------------------------МАЛЕНЬКИЙ СЛАЙДЕР //
.product-slider-smaller__wrapper {
  @media screen and (min-width: 1378px) {
    margin-right: 88px;
  }
}
.product-slider-smaller {
  @media screen and (max-width: 1377px) {
    display: none;
  }
}
/* Ограничивающая оболочка */
.product-slider-smaller .slick-list {
  width: 64px;
  overflow: hidden;
  padding: 0;
}
/* Лента слайдов */
.product-slider-smaller .slick-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Слайд */
.product-slider-smaller .slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
// /* Слайд активный (показывается) */
// .product-slider-smaller .slick-slide.slick-active {
// }
/* Слайд основной */
.product-slider-smaller .slick-slide.slick-current {
  border: 1px solid #dcdcdc;
  padding: 10px 8px;
  box-sizing: content-box;
}

.product-slider-smaller__item {
  // outline: 1px red solid;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
/* Картинки маленького слайдера*/
.product-slider-smaller__image {
  width: 47px;
  height: 71px;
  cursor: pointer;
}

// !--------------------------------------------- ОСНОВНОЙ СЛАЙДЕР//
.product-slider__wrapper {
  margin-bottom: 38px;

  @media screen and (min-width: 1378px) {
    width: 700px;
    margin-right: 88px;
  }
}
.product-slider .slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.product-slider .slick-track {
  display: flex;
}

.product-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // outline: 1px purple solid;
}
.product-slider .slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 14px;
}
.product-slider .slick-dots button {
  border-color: transparent;
  font-size: 0;
  line-height: 0;
  border-radius: 10px;
  width: 6px;
  height: 6px;

  background-color: #fff;
  position: absolute;
  z-index: 1000;
  bottom: 19px;

  @media screen and (min-width: 1378px) {
    display: none;
  }
}
.product-slider .slick-dots li.slick-active {
  margin: 0 14px;
}
.product-slider .slick-dots li.slick-active button {
  width: 26px;
}

.product-slider__image {
  // max-width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  @media screen and (min-width: 1378px) {
    min-width: 700px;
  }
}

// !--------------------------------------------- О ТОВАРЕ//
.product__content {
  @media screen and (min-width: 1378px) {
    padding-top: 10px;
  }
}

.product__name-wrapper {
  position: relative;
  margin-bottom: 31px;

  @media screen and (min-width: 1378px) {
    margin-bottom: 24px;
  }
}

.product__name {
  margin-bottom: 10px;
  font-family: Jost;
  font-weight: 500;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.05em;

  color: #272727;

  @media screen and (min-width: 1378px) {
    color: #222222;
  }
}

.button__like {
  position: absolute;
  right: 0;
  top: 0;
}

.product__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 0.91;
  color: #333333;

  @media screen and (min-width: 1378px) {
    color: #222222;
    margin-bottom: 24px;
  }
}

.product__currency {
  color: #caaf97;
}

.size__title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.4;

  color: #3d3d3d;

  @media screen and (min-width: 1378px) {
    color: #222222;
    margin-bottom: 15px;
  }
}

.size__list {
  display: flex;
  margin-bottom: 21px;

  @media screen and (min-width: 1378px) {
    margin-bottom: 17px;
  }
}

.size__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  border: 1px solid #d7b494;
  color: #d7b494;
}

.options {
  display: flex;
  margin-bottom: 21px;

  @media screen and (min-width: 1378px) {
    margin-bottom: 37px;
  }
}

.options__item {
  // position: relative;
  width: 150px;
  // padding-left: 30px;
}

.button__size-option {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-left: 30px;

  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.27;
  text-transform: uppercase;
  text-align: start;

  letter-spacing: 0.02em;

  color: #b59475;

  @media screen and (min-width: 1378px) {
    font-size: 14px;
    line-height: 1.57;
  }
}

.button__size-option:hover {
  color: #222222;
}

.options__icon {
  background-color: royalblue;
  position: absolute;
  top: 0;
  left: 0;
}

.button__size-option:hover .options__icon {
  background-color: #222222;
}

.colorpicker {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;

  @media screen and (min-width: 1378px) {
    margin-bottom: 20px;
  }
}

.colorpicker__title {
  margin-right: 14px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  text-transform: uppercase;

  color: #3d3d3d;
}

.colorpicker__list {
  display: flex;
}

.colorpicker__item {
  &:not(:last-child) {
    margin-right: 14px;
  }
}

.button__colorpicker {
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.button__colorpicker--black {
  background-color: #242424;
}

.button__colorpicker--red {
  background-color: #f2404a;
}

.button__colorpicker--grey {
  background-color: #e2dfdf;
}

.button-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;

  @media screen and (min-width: 1378px) {
    margin-bottom: 46px;
  }
}

.button {
  width: 280px;
  padding: 17px 0px;

  font-family: Jost;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  border: 1px solid #e3e3e3;

  background: #ffffff;
  color: #242424;

  @media screen and (min-width: 414px) {
    width: 374px;
  }
}

.button:hover {
  background: #242424;
  color: #ffffff;
}

.button__buy {
  margin-bottom: 20px;

  background: #242424;
  color: #ffffff;
  border: transparent;
}

.button__buy:hover {
  border: 1px solid #e3e3e3;
  background: #ffffff;
  color: #242424;
}

.button__fit {
  margin-bottom: 8px;

  @media screen and (min-width: 414px) {
    width: 136px;
    margin-right: 8px;
  }

  @media screen and (min-width: 1378px) {
    margin-right: 9px;
  }
}

.button__installment {
  @media screen and (min-width: 414px) {
    width: 230px;
  }
}

.product__info {
  margin-bottom: 37px;

  font-family: Jost;
  font-size: 17px;
  line-height: 1.35;

  color: #242424;
}

.product__description {
  margin-bottom: 30px;

  @media screen and (min-width: 1378px) {
    margin-bottom: 32px;
  }
}

.product__composition {
  font-size: 16px;
}

.product__composition--bold {
  font-weight: 700;
}

.product__characteristics {
  margin-bottom: 19px;
}

.product__characteristic-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  text-transform: uppercase;

  color: #222222;
}

.button__plus {
  border: none;
  background-color: transparent;
  padding: 0;
}
