<div class='form-reviews'>
  <svg class='form-reviews__icon'>
    <use href='./images/exampl.svg#icon-ask-question-form'></use>
  </svg>
  <h3 class='form-reviews__title'>Оставить отзыв</h3>
  <form class='form-reviews__form' action='#' id='contactFormInputs'>
    <div class='form-reviews__horiz-block'>
      <label class='form-reviews__input-box'>
        <span class='form-reviews__input-wrapper star-form-reviews'>
          <input
            type='text'
            name='name'
            class='form-reviews__input'
            minlength='2'
            required
            placeholder='Введите имя'
          />
        </span>
      </label>
      <label class='form-reviews__input-box'>
        <span class='form-reviews__input-wrapper star-form-reviews'>
          <input
            type='tel'
            name='tel'
            class='form-reviews__input form-reviews__input-center'
            required
            pattern='[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}'
            placeholder='Введите телефон'
          />
        </span>
      </label>
      <label class='form-reviews__input-box'>
        <span class='form-reviews__input-wrapper star-form-reviews'>
          <input
            type='text'
            name='email'
            class='form-reviews__input'
            required
            placeholder='Введите e-mail'
          />
        </span>
      </label>
    </div>
    <div class='form-reviews__horiz-block'>
      <label class='form-reviews__comment-box'>
        <textarea
          type='text'
          name='comment'
          class='form-reviews__comment'
          minlength='2'
          required
          placeholder='Добавить комментарий'
        ></textarea>
      </label>
      <div class='form-reviews__button'>
        <button class='form-reviews__send-btn-text' type='submit'>
          Отправить
        </button>
      </div>
    </div>
    <div>
      <button class='form-reviews__button-add-photo' name='add-photo'>
        <svg class='form-reviews__icon-add-photo'>
          <use href='./images/exampl.svg#icon-form-reviews-add-photo'></use>
        </svg>
        Добавить фотографию
      </button>
    </div>
  </form>
</div>