<section class="reviews-section">
    <div class="container">
        <h2 class="reviews_title"> ОТЗЫВЫ</h2>
        <div class="videoset">
            {{{setVideoHbs}}}
        </div>
        {{{clientStar}}}

    </div>
</section>