{{#each this}}
<li class="video-set__item">
    <a class="video-set__link" href="{{video}}">
        <video class="vide-oset__image" src="{{video}}"
            poster="{{poster}}"
            controls
            preload="auto"
             > </video>

        <p video-set__description> {{description}} </p>
    </a>
</li>
{{/each}}