{{#each this}}
<li class="video-set__item">
    <a class="video-set__link" href="{{video}}">
        <video class="video-set__image" src="{{video}}"
            poster="{{poster}}"
            controls
            preload="auto"
width="400"
height="300">
<source src="video/duel.webm" >
              </video>

        <p class ="video__description"> {{description}} </p>
    </a>
</li>
{{/each}}
<iframe allowfullscreen="" class="js-photo-page-video-iframe" frameborder="0" mozallowfullscreen=""
    src=
    style="background: white;" webkitallowfullscreen=""></iframe>