{{#each this}}
  <div class='video-set__item'>
    <div class='video-set__link'>
      <div class='video-set-box'>
        <video
          class='video-set__image'
          id='{{id}}'
          src='{{video}}'
          poster='{{poster}}'
          preload='none'
          name='video'
        >
        </video>
        <svg class='video-set-svg' name='play'>
          <use href='./images/exampl.svg#icon-play-video'> </use>
        </svg>
        <svg class='video-set-fullscreen' name='fullscreen'>
          <use href='./images/exampl.svg#icon-fullscreen'> </use>
        </svg>
      </div>
      <div class='video-subtitle'>
        <p class='video__description'> {{description}} </p>
      </div>
    </div>
  </div>
{{/each}}