{{#each this}}
  <div class='video-set__item'>
    <div class='video-set__link'>
      <div class='video-set-box'>
        <video class='video-set__image' src='{{video}}' poster='{{poster}}' preload='none'>
        </video>
        <svg class='video-set-svg'>
          <use href='./images/exampl.svg#icon-play-video'> </use>
        </svg>
      </div>
      <div class='video-subtitle'>
        <p class='video__description'> {{description}} </p>
      </div>
    </div>
  </div>
{{/each}}