{{!-- <div class="lolo">
{{#each this}}

<div class="video-set__item">
    <a class="video-set__link" href="{{video}}">
        <video class="video-set__image" src="{{video}}"
            poster="{{poster}}"
            controls
            preload="auto"
width="400"
height="300">
<source src="video/duel.webm" >
              </video>

        <p class ="video__description"> {{description}} </p>
    </a>
</div>
{{/each}}
</div> --}}

<div class="lolo">
    <div class="ggg">1</div>
    <div class="ggg">2</div>
    <div class="ggg">3</div>
    <div class="ggg">4</div>
    <div class="ggg">5</div>
</div>
