
{{#each this}}

<div class="video-set__item">
    <a class="video-set__link" href="{{video}}">
        <video class="video-set__image" src="{{video}}"
            poster="{{poster}}"
            controls
            preload="auto">
        
              </video>
<div class="video-subtitle">
        <p class ="video__description"> {{description}} </p>
        </div>
    </a>
</div>
{{/each}}

