.ordering {
  background-color: $modal-background-color;
  @media screen and (min-width: $mobile-first) {
    padding-top: 39px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desktop-up) {
    padding-top: 70px;
    padding-bottom: 327px;
  }
}

.ordering__title {
  border-bottom: 1px solid $border-color;
  font-family: $selection-font-family;
  font-size: 21px;
  line-height: 0.95;
  letter-spacing: 0, 05em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $mobile-first) {
    padding-bottom: 21px;
  }

  @media screen and (min-width: $desktop-up) {
    padding-bottom: 14px;
  }
}

.ordering__cards {
  @media screen and (min-width: $desktop-up) {
    border-bottom: 1px solid $border-color;
  }
}

.ordering__card {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;

  @media screen and (min-width: $mobile-first) and (max-width: $tablet-only) {
    align-items: flex-start;
    border-bottom: 1px solid $border-color;
  }

  @media screen and (min-width: $desktop-up) {
    align-items: center;
  }
}
.ordering__image-box {
  height: 140px;
  width: 100px;
  overflow: hidden;
  @media screen and (min-width: $desktop-up) {
    height: 100px;
    width: 80px;
  }
}

.ordering__image {
  @media screen and (min-width: $mobile-first) {
    object-fit: cover;
    height: 100%;
  }

  @media screen and (min-width: $desktop-up) {
    object-fit: cover;
    height: 100%;
  }
}

.ordering__label {
  color: $secondary-accent-btn-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;

  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    display: inline-block;
    margin-bottom: 60px;
    margin-right: 45px;
    height: 60px;
  }

  @media screen and (min-width: $mobile-general) and (max-width: $tablet-only) {
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 45px;
    height: 50px;
  }
  @media screen and (min-width: $desktop-up) {
    margin-right: 10px;
  }
}

.ordering__selects {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;

  @media screen and (min-width: $mobile-first) and (max-width: 415px) {
    display: inline-block;
  }
  @media screen and (min-width: $mobile-general) {
    display: flex;
    align-items: center;
  }
}

.ordering__select--color {
  @media screen and (min-width: $mobile-first) and (max-width: $tablet-only) {
    display: none;
  }
}

.ordering__item {
  position: relative;

  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    margin-bottom: 14px;
  }

  @media screen and (min-width: $mobile-general) {
    margin-right: 14px;
    width: 126px;
  }

  @media screen and (min-width: $desktop-up) {
    margin-right: 38px;
    width: 135px;
  }
}
.ordering__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid $secondary-border-color;

  height: 40px;
  padding-left: 9px;
  padding-right: 9px;
  color: $input-text-color;
  font-family: $selection-font-family, sans-serif;
  font-size: 17px;
  line-height: 1.35;
}
.ordering__select--color {
  @media screen and (min-width: $mobile-general) and (max-width: $tablet-only) {
    display: none;
  }
}
.ordering__colorname {
  display: flex;
  align-items: center;
  position: relative;
}

.ordering-list {
  position: absolute;
  border: 1px solid $border-color;
  background-color: $modal-background-color;
  border-top: none;
  top: 40px;
  left: 0;
  max-height: 115px;
  z-index: 500;
  scrollbar-color: $primary-border-color $primary-background-color ;
  scrollbar-width:  thin ; 
  overflow-x: hidden;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}
.ordering-list::-webkit-scrollbar {
  width: 6px;
}
.ordering-list::-webkit-scrollbar-thumb {
  background-color: $border-color;
  border-radius: 5px;
}
.ordering-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.ordering-list--hide {
  display: none;
}

.ordering__arrow--rotate {
  transform: rotate(180deg);
}

.ordering-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  cursor: pointer;
  border-bottom: 1px solid $secondary-border-color;
  padding-left: 9px;
  padding-right: 9px;

  color: $input-text-color;
  font-family: $selection-font-family;
  font-size: 17px;
  line-height: 1.35;

  @media screen and (min-width: $mobile-first) {
    width: 121px;
  }

  @media screen and (min-width: $desktop-up) {
    width: 130px;
  }

  &:hover {
    background-color: #f8efe7;
    cursor: pointer;
    transform: 15s background-color ease-in;
  }
}

.ordering__circle {
  margin-left: 10px;
}

.ordering__counter {
  display: flex;
  align-items: center;
}

.ordering_value {
  margin: 0;
  padding: 0;
  border: 0;
}

.ordering__price {
  font-family: $third-font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.27;

  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    position: absolute;
    top: 90px;
  }

  @media screen and (min-width: $mobile-general) and (max-width: $mobile-only) {
    position: absolute;
    top: 55px;
    left: 0;
    display: block;
    margin-bottom: 28px;
  }

  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    position: absolute;
    top: 30px;
    left: 0;
    display: block;
    margin-bottom: 28px;
  }

  @media screen and (min-width: $desktop-up) {
    margin: 0 18px 0 42px;
    min-width: 100px;
  }
}
.ordering__price:after,
.ordering__total:after {
  content: '\20B4';
  margin-left: 5px;
}

.ordering__box {
  flex: 1;
  @media screen and (min-width: $mobile-first) and (max-width: $tablet-only) {
    position: relative;

    margin-left: 16px;
  }

  @media screen and (min-width: $desktop-up) {
    display: flex;
    align-items: center;
    margin-left: 14px;
  }
}

.ordering__selectbox {
  display: flex;
}

.ordering__promocodebox {
  @media screen and (min-width: $mobile-first) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: $desktop-up) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.ordering__input--promocode {
  padding: 13px 10px;
  height: 50px;
  border: 1px dotted $secondary-border-color;

  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    width: 264px;
    display: inline-block;
    margin-bottom: 14px;
  }
  @media screen and (min-width: $mobile-general) and (max-width: $mobile-only) {
    flex-grow: 1;
    max-width: 264px;
    border-right: none;
  }

  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    padding: 13px 10px;
    width: 264px;
    border-right: none;
  }

  @media screen and (min-width: $desktop-up) {
    padding: 13px;
    margin-right: 14px;
    width: 389px;
    border: 1px dotted $secondary-border-color;
  }

  &::placeholder {
    font-family: $third-font-family;
    font-size: 12px;
    line-height: 2.08;
    font-weight: 500;
    color: $placeholder-color;
  }
}

.ordering__discount {
  font-family: $third-font-family;
  font-size: 18px;
  line-height: 2.08;
  font-weight: 500;
  color: $secondary-text-color;

  @media screen and (min-width: $mobile-first) {
    display: block;
    margin-top: 23px;
    margin-bottom: 28px;
    border-bottom: 1px solid $border-color;
  }
  @media screen and (min-width: $desktop-up) {
    border: none;
  }
}

.ordering__totalprice {
  margin-right: 5px;
  font-family: $third-font-family;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
  color: $secondary-text-color;

  @media screen and (min-width: $desktop-up) {
    text-transform: uppercase;
  }
}

.ordering__total {
  font-family: $third-font-family;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
  color: $secondary-text-color;
  @media screen and (min-width: $desktop-up) {
    min-width: 100px;
  }
}
.ordering__totalbox {
  @media screen and (min-width: $mobile-first) {
    display: flex;
    justify-content: space-between;
  }
}

.ordering__promocodethumb {
  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: $mobile-general) and (max-width: $tablet-only) {
    display: flex;
  }

  @media screen and (min-width: $desktop-up) {
    display: inline-flex;
  }
}
