.videoset {
  display: grid;
  width: 2000px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  column-gap: 14px;
  list-style: none;
  margin: 0;
  justify-items: center;
}

.video-set__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  grid-row: 1/4;
}

.video-set__image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  // transition: transform $time-cubic;
}

.video-set__link {
  display: block;
  text-decoration: none;

  &:hover {
    transform: scale(1.03);
  }
}

.reviews_title {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;

  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 25px;
}
.video__description {
  // font-family: $primary-font-family;
  font-size: 15px;
  color: black;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 400;
  line-height: 1.27;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 19px;
}

// // Модалка
// .videobox {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   opacity: 0;
//   pointer-events: none;
//   transition: opacity $time-cubic;
// }

// .videobox.is-open {
//   opacity: 1;
//   pointer-events: initial;
// }

// .videobox__overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.8);
// }
// .videobox__content {
//   transform: scale(0.95);
//   transition: transform $time-cubic;
// }

// .videobox.is-open .videobox__content {
//   transform: scale(1);
// }

// .video-set__video {
//   display: block;
//   width: auto;
//   height: auto;
//   max-height: 100vh;
//   max-width: 100vw;
// }

// .videobox__button {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 48px;
//   height: 48px;
//   padding: 0;
//   margin: 0;
//   border: none;
//   border-radius: 50%;
//   background-color: transparent;
//   color: #fff;
//   cursor: pointer;
//   transition: background-color $time-cubic;
//   outline: none;
//   background-image: url('./image/icon-close.svg');
//   background-position: center;
//   background-size: 60%;
//   background-repeat: no-repeat;
// }

// .videobox__button:hover,
// .videobox__button:focus {
//   background-color: rgba(0, 0, 0, 0.5);
// }
