//* Bounding shell */
.reviews-section .slick-list {
  overflow: hidden;
}

//* Slide Ribbon */
.reviews-section .slick-track {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.videoset {
  // display: grid;
  // width: 2000px;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  // column-gap: 14px;
  overflow: hidden;
  margin: 0;
  // justify-items: center;
}
.video-set__item {
  // position: relative;
  // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  // grid-row: 1/4;
  list-style: none;
  @media screen and (min-width: $desktop-up) {
    margin: 0px 7px;
    max-width: 324px;
    height: min-content;
  }
}

.video-set__image {
  height: 665px;
  width: 100%;
  object-fit: cover;
  @media screen and (min-width: $desktop-up) {
    // position: relative;
    height: 400px;
    // max-width: 324px;
  }
}

.video-set__link {
  display: block;
  text-decoration: none;
  transition: transform $time-cubic;
  &:hover {
    transform: scale(1.03);
  }
}

.reviews_title {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;

  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 25px;
}
.video__description {
  // font-family: $primary-font-family;
  font-size: 15px;
  color: black;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 400;
  line-height: 1.27;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 19px 0;
}
.video-subtitle {
  flex-grow: 1;
}
