.videoset {
  display: grid;
  width: 2000px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  column-gap: 14px;
  list-style: none;
  margin: 0;
  justify-items: center;
}

.video-set__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  grid-row: 1/4;
}

.video-set__image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.video-set__link {
  display: block;
  text-decoration: none;

  &:hover {
    transform: scale(1.03);
  }
}

.reviews_title {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;

  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 25px;
}
.video__description {
  font-family: HelveticaNeueCyr;
  font-size: 15px;

  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.05em;
  text-align: left;
  padding-bottom: 25px;
}
