.description-main {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  font-family: $primary-font-family;
  color: $primary-text-color;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.description-main-text {
  width: 100%;
}

.description-delivery li:nth-child(3) p {
  border-bottom: 1px solid $accent-outline-btn-color;
  border-top: 1px solid $accent-outline-btn-color;
  padding-bottom: 20px;
}
.maindescrption {
  padding-top: 26px;
}

.description-title:last-child {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e3e4e4;
}

.navara {
  width: 100%;
}
.time__icon {
  margin-top: 10px;
}

.description-title:not(:last-child) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.delivery__icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: $desktop-up) {
  .maindescrption {
    width: 540px;
    margin-left: 47px;
  }

  .typeofdelivery {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.05;
    text-align: left;
    font-family: $primary-font-family;
    color: $primary-logo-color;
    margin-bottom: 26px;
  }

  .description li:nth-child(3) p {
    border-top: none;
    padding-bottom: 33px;
  }

  .message__icon {
    height: 46px;
    stroke: #c0a78f;
    margin-bottom: 23px;
  }
}
