<div class='container aboutBrand__container'>
  <h2 class='aboutBrand__title'>О БРЕНДЕ</h2>
  <div class='aboutBrand__text-thumb'>
    <p class='aboutBrand__text aboutBrand__text--first'>Сегодня ELEAN - это первый в Украине магазин
      готового женского смокинга. У нас каждая женщина может подобрать для себя образ со смокингом,
      такой же как у голливудских див и звезд светской хроники.
    </p>
    <p class='aboutBrand__text aboutBrand__text--second'>Костюм со смокингом ELEAN - выбор звёзд
      эстрады и кино, телеведущих, fashion-стилистов, успешных женщин-руководителей,
      представительниц научной и деловой элиты.</p>

    <p class='aboutBrand__text aboutBrand__text--third'>История бренда началась задолго до первого
      показа, который состоялся 12 марта 2016 года, с мечты автора коллекции, Елены Писаревой о
      собственном бренде элегантной одежды и продолжалась долгие 30 лет накопления профессионального
      опыта. Вся первая коллекция была выполнена из 100% натурального шелка, в нее вошли жентсвенные
      платья и костюмы.</p>
    <a href='' class='aboutBrand__link' rel='noopener noreferrer'><p
        class='aboutBrand__link-text'
      >Подробнее</p></a>
  </div>
</div>