<section class='page-hero'>
  <div class='container'>
    <div class='wrapper'>
      <div class='slider'>
        {{#each this}}
          <div class='slider__item filter'>
            <img src='{{image}}' alt='{{name}}' id='{{id}}' />
          </div>
        {{/each}}
    </div>
  </div>
</section>