<section class="star-clients section ">
  <div class="container star-clients__container">
    <h2 class="star-clients__title">НАШИ ЗВЕЗДНЫЕ КЛИЕНТЫ И ОТЗЫВЫ</h2>

  
  <ul class="reviews-chat__list">
    <h3 class="reviews-chat__list-title">Отзывы</h3> 
    {{{cardChatReviewsMarkup}}}          
  </ul>
  <button class="reviews-button js-watch-all-button" type="button">СМОТРЕТЬ ВСЕ</button>
  <button class="button-up" type="button">
    
  </button>
  </div>      
</section>