.brand-container {
  padding-top: 39px;
  @media screen and (min-width: $desktop-up) {
    padding-top: 69px;
  }
}

.brand-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $primary-title-text-color;
  box-sizing: border-box;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 21px;
  @media screen and (min-width: $desktop-up) {
    font-weight: normal;
    font-size: 21px;
    line-height: 0.95;
    text-align: center;
    letter-spacing: 0.05em;
    color: $secondary-title-text-color;
    margin-bottom: 31px;
  }
}

.brand-video {
  margin-bottom: 47px;
  position: relative;
  @media screen and (min-width: $desktop-up) {
    margin-bottom: 67px;
  }
}

.brand-video__player {
  width: 100%;
  height: 665px;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  @media screen and (min-width: $desktop-up) {
    height: 600px;
  }
}

.brand-video__player-svg {
  stroke: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
  transition: filter $time-cubic;
  cursor: pointer;
  &:hover,
  &:focus {
    filter: drop-shadow(0px 0px 5px $selection-text-color);
  }
}
.brand-video__player-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 665px;
  cursor: pointer;
}

.player-brand-box {
  position: relative;
  height: 100%;
}

.brand-box {
  @media screen and (min-width: $desktop-up) {
    padding-left: 58px;
    padding-right: 58px;
  }
}

.brand-title-elean {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $primary-title-text-color;
  box-sizing: border-box;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.brad-box__text-about {
  margin-bottom: 40px;
  @media screen and (min-width: $desktop-up) {
    display: flex;
    justify-content: center;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 50px;
  }
}

.brand-box__text {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: $primary-text-color;
  width: 100%;
  @media screen and (min-width: $desktop-up) {
    flex-grow: 1;

    margin-left: 20px;
    margin-right: 20px;
  }
}

.brand-img {
  width: 100%;
  margin-bottom: 27px;
}

.brand-box__img {
  width: 100%;
  margin-bottom: 41px;
  @media screen and (min-width: $desktop-up) {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.brand-box__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $primary-title-text-color;
  text-transform: uppercase;
  margin-bottom: 21px;

  @media screen and (min-width: $desktop-up) {
    margin-bottom: 23px;
    color: $primary-title-text-color;
  }
}

.brand-box__about {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $primary-text-color;
}

.brand_section-container {
  padding-top: 39px;
}

.brandVideoDisplay {
  display: none;
}

.brandVideoPreview {
  background-image: url('../images/brand-video-image.jpg');
}

.brand-video__player-fullscreen {
  display: none;
  fill: $hero-slider-dots;
  // fill: red;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  transition: filter $time-cubic;
  transition: fill $time-cubic;
  cursor: pointer;
  @media screen and (min-width: $desktop-up) {
    &:hover {
      fill: $accent-btn-color;
      filter: drop-shadow(0px 0px 5px $selection-text-color);
    }
    bottom: 18px;
    right: 120px;
  }
}
