<div class='product-modal-add-cart'>
  <button class='product-close-modal'></button>
  <h2 class='product-modal-add-cart__title'>
    {{this}} ДОБАВЛЕН В КОРЗИНУ ПОКУПОК!
  </h2>
  <p class='product-modal-add-cart__title--second'>
    С ЭТИМ ИЗДЕЛИЕМ ЧАЩЕ ВСЕГО ПОКУПАЮТ:
  </p>
  <div class='product-modal-add-cart__block-catalog'></div>
  <div class='product-modal-add-cart__block-button'>
    <button type='button'>
      ПРОДОЛЖИТЬ ПОКУПКИ
    </button>
    <button type='button'>
      ПЕРЕЙТИ К ОФОРМЛЕНИЮ
    </button>
  </div>
</div>