{{!-- {{#each this}} --}}
<section class="product">
  <div class="container product__container">
     <div class="product-slider-smaller__wrapper">
      <ul class="product-slider-smaller">
        <li class="product-slider-smaller__item">
          <img class="product-slider-smaller__image" src="./images/tuxedo-and-vest-mini-desktop-1.jpg" alt="">
        </li>
        <li class="product-slider-smaller__item">          
          <img class="product-slider-smaller__image" src="./images/tuxedo-and-vest-mini-desktop-2.jpg" alt="">
        </li>
        <li class="product-slider-smaller__item">         
          <img class="product-slider-smaller__image" src="./images/tuxedo-and-vest-mini-desktop-3.jpg" alt="">
        </li>
        <li class="product-slider-smaller__item">          
          <img class="product-slider-smaller__image" src="./images/tuxedo-and-vest-mini-desktop-4.jpg" alt="">
        </li>
        
      </ul>
    </div>
  
    <div class="product-slider__wrapper">
      <ul class="product-slider">
        <li class="product-slider__item">
          <img class="product-slider__image" src="./images/tuxedo-and-vest-mobile-1.jpg" alt="">
        </li>
        <li class="product-slider__item">
          <img class="product-slider__image" src="./images/tuxedo-and-vest-mobile-2.jpg" alt="">
        </li>
        <li class="product-slider__item">
          <img class="product-slider__image" src="./images/tuxedo-and-vest-mobile-3.jpg" alt="">
        </li>
        <li class="product-slider__item">
          <img class="product-slider__image" src="./images/tuxedo-and-vest-mobile-4.jpg" alt="">
        </li>
      </ul>
    </div> 
    
  
      {{!-- <h2 class="product__name">Классический комплект со смокингом и желетом</h2>
      <button class="product__button-like"></button>
      <p class="product__price">65 300 <span class="product__currency">₽</span></p>
      <h3 class="product__size-title"></h3>
  
      <ul class="size-list">
        <li class="size-list__item">40</li>
        <li class="size-list__item">42</li>
        <li class="size-list__item">44</li>
        <li class="size-list__item">46</li>
        <li class="size-list__item">48</li>
        <li class="size-list__item">50</li>
        <ul class="size-list__info">
          <li class="size-list__info-item">нет вашего размера?</li>
          <li class="size-list__info-item">определите свой размер</li>
        </ul>
      </ul> --}}
  </div>


</section>
{{!-- {{/each}} --}}