<div class='product-modal-add-cart hidden'>
  <button class='product-close-modal js-close-modal'>
    <span class='product-close-modal__button-text'>
      Закрыть
    </span>
    <svg class='product-close-modal__close-icon'>
      <use href='./images/product-modal-button-close.svg#icon-close-modal'></use>
    </svg>
  </button>
  <div class='product-modal-add-cart__block-container'>
    <h2 class='product-modal-add-cart__title'>
      <span class='js-productName'>
        {{product}}
      </span>
      ДОБАВЛЕН В КОРЗИНУ ПОКУПОК!
    </h2>
    <h3 class='product-modal-add-cart__title product-modal-add-cart__title_second'>
      С ЭТИМ ИЗДЕЛИЕМ ЧАЩЕ ВСЕГО ПОКУПАЮТ:
    </h3>
  </div>
  {{{block}}}
  <div class='product-modal-add-cart__block-container product-modal-add-cart__block-button'>
    <button type='button' class='product-button-modal js-close-modal'>
      ПРОДОЛЖИТЬ ПОКУПКИ
    </button>
    <button type='button' class='product-button-modal js-next-modal-to-cart'>
      ПЕРЕЙТИ К ОФОРМЛЕНИЮ
    </button>
  </div>
</div>