<div class='product-modal-add-cart'>
  <button class='product-close-modal'></button>
  <div class='product-modal-add-cart__block-container'>
    <h2 class='product-modal-add-cart__title'>
      {{product}} ДОБАВЛЕН В КОРЗИНУ ПОКУПОК!
    </h2>
    <h3 class='product-modal-add-cart__title product-modal-add-cart__title_second'>
      С ЭТИМ ИЗДЕЛИЕМ ЧАЩЕ ВСЕГО ПОКУПАЮТ:
    </h3>
  </div>
  {{{block}}}
  <div class='product-modal-add-cart__block-container product-modal-add-cart__block-button'>
    <button type='button'>
      ПРОДОЛЖИТЬ ПОКУПКИ
    </button>
    <button type='button'>
      ПЕРЕЙТИ К ОФОРМЛЕНИЮ
    </button>
  </div>
</div>