<div class='product-container'>
  <div class='product-modal-add-cart__block-container'>
    <h2 class='product-modal-add-cart__title'>
      <span class='js-productName'>
        {{product}}
      </span>
      ДОБАВЛЕН В КОРЗИНУ ПОКУПОК!
    </h2>
  </div>
  <div class='modal__box'>
    <h3 class='product-modal-add-cart__title product-modal-add-cart__title_second'>
      С ЭТИМ ИЗДЕЛИЕМ ЧАЩЕ ВСЕГО ПОКУПАЮТ:
    </h3>
    {{{block}}}
  </div>
  <div class='product-modal-add-cart__block-container product-modal-add-cart__block-button'>
    <button
      type='button'
      class='product-button-modal js-close-product-modal'
      aria-label='continue shopping'
    >
      ПРОДОЛЖИТЬ ПОКУПКИ
    </button>
    <button
      type='button'
      class='product-button-modal js-next-modal-to-cart'
      aria-label='go to registration'
    >
      ПЕРЕЙТИ К ОФОРМЛЕНИЮ
    </button>
  </div>
</div>