<section class='recomendation-category'>
  <div class='recomendation-category__block-title'>
    <div class='container'>
      <h2 class='recomendation-category__title'>
        ВЫГЛЯДЕТЬ БЛИСТАТЕЛЬНО ПОМОЖЕТ
      </h2>
    </div>
  </div>
  <div class='container'>
    {{{list}}}
  </div>
</section>