<ul class='uldelnav galerry js-gallery' id='menu'>
  <li class='listdelnav buttons__button buttons__button_one' id='openModal-1'>
    <button class='product-button' type='button' data-modal-open>
      ОБМЕН
    </button>
  </li>
  <li class='listdelnav buttons__button buttons__button_two' id='openModal-2'>
    <button class='product-button' type='button' data-modal-open>
      ВОЗВРАТ
    </button>
  </li>
  <li class='listdelnav buttons__button buttons__button_third' id='openModal-3'>
    <button class='product-button' type='button' data-modal-open>
      ОПЛАТА
    </button>
  </li>
</ul>

<!-- Модальный -->

<div class='modal' data-modal='one'>
  <div class='modal__wrapper'>
    <div class='modal__body'>
      <div class='modal__inner'>
        <div class='modal__close'>
          X
        </div>
        <div class='modal__title'>
          Modal One
        </div>
        <div class='modal__text'>
          Change
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Второе модальное окно -->
<div class='modal' data-modal='two'>
  <div class='modal__wrapper'>
    <div class='modal__body'>
      <div class='modal__inner'>
        <div class='modal__close'>
          X
        </div>
        <div class='modal__title'>
          Modal Two
        </div>
        <div class='modal__text'>
          Back
        </div>
      </div>
    </div>
  </div>
</div>

<div class='modal' data-modal='third'>
  <div class='modal__wrapper'>
    <div class='modal__body'>
      <div class='modal__inner'>
        <div class='modal__close'>
          X
        </div>
        <div class='modal__title'>
          Modal Two
        </div>
        <div class='modal__text'>
          Pay
        </div>
      </div>
    </div>
  </div>
</div>