<ul class='uldelnav galerry js-gallery' id='menu'>
  <li class='listdelnav buttons__button buttons__button_one' id='openModal-1'>
    <button class='product-button' type='button' data-modal-open aria-label="exchange and return">
      ВОЗВРАТ И ОБМЕН
    </button>
  </li>
  <li class='listdelnav buttons__button buttons__button_two' id='openModal-2' aria-label="delivery">
    <button class='product-button' type='button' data-modal-open>
      ДОСТАВКА
    </button>
  </li>
  <li class='listdelnav buttons__button buttons__button_third' id='openModal-3' aria-label="payment">
    <button class='product-button' type='button' data-modal-open>
      ОПЛАТА
    </button>
  </li>
</ul>