<li class='description-title'>
  <div class='description-main'>
    <p class='description-main-text'>"Механизм нашей работы продуман до мелочей. Вам не придется
      беспокоиться и долго ждать."</p>
  </div>
  <div class='description-main'>
    <p class='description-main-text'>"Служба доставки работает без выходных с 8 утра до 1 часа ночи.
      Мы осуществляем доставку по Украине."</p>
  </div>
  <div class='description-main'>
    <p class='description-main-text'>"Оформляя заказ, просто выберите подходящий вам временной
      интервал и мы доставим ваши продукты точно в указанное время."</p>
  </div>
</li>
<li class='description-title'>
  <div class='navara'>
    <div class='description-main'>
      <p class='description-main-text'>"Срок доставки с момента подтверждения заказа — 1-3 дня."</p>
      <svg class='delivery__icon' role='img' aria-label='Иконка солнца'>
        <use href='./images/exampl.svg#icon-delivery-clock'></use>
      </svg>
    </div>

  </div>
</li>
<li class='description-title'>
  <div class='navara'>
    <div class='description-main description-main-cl'>
      <p class='description-main-text'>"Доставка во все регионы осуществляется по 100% предоплате на
        нашем сайте любой картой, курьерской службой до двери."</p>
      <svg class='delivery__icon' role='img' aria-label='Иконка солнца'>
        <use href='./images/exampl.svg#icon-delivery-surprise'></use>
      </svg>
    </div>

    <div class='description-main description-main-cl'>
      <p class='description-main-text'>" При покупке на сумму от 15 000₴ доставка в подарок, в
        остальных случаях 500₽, за границу 1 200₴."</p>
    </div>
  </div>
</li>