{{#each this}}
  <li class='qusetion-title d'>
    <div class='question-block'>
      <h3 class='question-head'>
        {{question}}
      </h3>
      <svg class='question__icon' role='img' aria-label='Иконка солнца'>
        <use href='./images/exampl.svg#icon-delivery-ask-card'></use>
      </svg>
    </div>
    <p class='answers-body'>
      {{answers}}
      <p class='answers-foot'>
        {{answersmin}}
      </p>
    </p>
  </li>
{{/each}}