{{#each this}}
  <li class='qusetion-title'>
    <a class='question-block'>
      <h2 class='question-head'>
        {{question}}
      </h2>
      <svg class='question__icon' width='28px' height='28px' role='img' aria-label='Иконка солнца'>
        <use href=''></use>
      </svg>
    </a>
    <p class='answers-body'>
      {{answers}}
      <p class='answers-foot'>
        {{answersmin}}
      </p>
    </p>
  </li>
{{/each}}