
      <div class='modal__inner'>
        <div class='return'>
        
          <h2 class="return__heading">ВОЗВРАТ И ОБМЕН</h2>
          <p class="return__disc">ВНИМАНИЕ!!! Товары ненадлежащего качества (после эксплуатации либо с поврежденными ярлыками)
            обмену и возврату не подлежат.</p>
          <ul class="return__list">
            <li class="return__title">
              Процесс возврата товара
              
              <div class="return-content">
                <ul>
                  <li class="return-content__item">Заполните бланк возврата (вкладывается в каждую посылку);</li>
                  <li class="return-content__item">Отправьте товар и заполненный бланк по адресу, указанному в нем;</li>
                  <li class="return-content__item">Сохраните деньги на балансе для оплаты следующего заказа или получите деньги банковским переводом.</li>
                </ul>
                Срок возврата денежных средств — до 7 рабочих дней с момента получения от Вас возврата. Обратите внимание, при
                отсутствии заполненого бланка обмена/возврата срок обработки будет до 14 дней, т.к. в этом случае идентификация
                возврата
                займет больше времени.
              </div>
            </li>
            <li class="return__title">
              Обмен товара
              
              <div class="return-content">
                <ul>
                  <li class="return-content__item">Заполните бланк возврата (вкладывается в каждую посылку);</li>
                  <li class="return-content__item">Отправьте товар и заполненный бланк по адресу, указанному в нем;</li>
                  <li class="return-content__item">Оформите новый заказ и в комментарии к нему укажите "обмен".</li>
        
                </ul>
                Отправка заказа на обмен осуществляется после его полной комплектации и получения возврата от Вас.
              </div>
            </li>
            <li class="return__title">
              Адреса для возврата
              <div class="return-content">
                <ul>
                  <li class="return-content__item">Новая Почта: г. Киев, отделение №11, Демченко Сергей Сереевич, тел. +38(050) 000-00-007</li>
                  <li class="return-content__item">Укрпочта: 61001. г. Киев, отделение №1, ДО ВОСТРЕБОВАНИЯ, Демченко Сергей Сереевич, тел. 38(050)
                    000-00-007</li>
        
                </ul>
                Обратите внимание! Товары ненадлежащего качества (после эксплуатации либо с поврежденными ярлыками), обмену и
                возврату не подлежат.Если возвращаемый Вами товар не подлежит обмену и возврату, мы будем вынуждены отправить
                его обратно за Ваш счет.
              </div>
            </li>
          </ul>
        </div>
        </div>
