
      <div class='modal__inner'>
        <div class='return'>

          <h2 class="return__heading">ДОСТАВКА</h2>
          <p class="return__disc">При оплате 100% стоимости (заказа от 2500 грн) банковской картой на сайте независимо от
            выбранного способа доставки,
            доставка будет бесплатной!
            Для доставки заказа Вы можете выбрать Укрпочту, курьерскую службу Нова Почта, Justin, MEEST.</p>
          <ul class="return__list">
            <li class="return__title">
              Условия доставки УКРПОЧТОЙ
              
              <div class="return-content">
                <ul>
                  <li class="return-content__item">Доставка осуществляется в Почтовое отделение</li>
                  <li class="return-content__item">Для получения отправления в отделении, нужно предъявить извещение или трек-номер, а также удостоверение
                    личности</li>
                  <li class="return-content__item">Услуги примерки и частичного отказа не предоставляются</li>
                  <li class="return-content__item"> Срок доставки от 4 до 7 дней.</li>
                </ul>
                <a href="https://track.ukrposhta.ua/tracking_UA.html"> «Укрпошта» -ukrposhta.ua</a>
              </div>
            </li>
            <li class="return__title">
              Условия доставки НОВОЙ ПОЧТОЙ
              
              <div class="return-content">
                <ul>
                  <li class="return-content__item">Доставка осуществляется в отделение. Срок доставки от 1 до 4 дней.</li>
                  <li class="return-content__item">Курьер службы доставки предварительно свяжется с Вами для согласования деталей доставки</li>
                  <li class="return-content__item">Вскрытие посылки возможно только после оплаты заказа</li>
                  <li class="return-content__item">Услуги примерки и частичного отказа не предоставляются</li>
                  <a href="https://tracking.novaposhta.ua"> «Нова Пошта» - novaposhta.ua</a>
        
                </ul>
              </div>
            </li>
            <li class="return__title">
              Условия доставки JUSTIN
              
              <div class="return-content">
                <ul>
                  <li class="return-content__item">Доставка в течении 2-х дней - по Украине, на протяжении суток – по Киеву.</li>
                  <li class="return-content__item">500 отделений в популярных супермаркетах и торговых центрах Украины. Удобный график работы 7 дней в неделю
                  </li>
                  <li class="return-content__item">Безопасный наложенный платёж.</li>
                  <li class="return-content__item">Вам будет отправлено SMS - сообщение о прибытии посылки в отделение</li>
                  <li class="return-content__item">Срок доставки от 1 до 4 дней.</li>
                  <a href="https://justin.ua/"> «Justin» - justin.ua</a>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
