<div class='modal__inner'>
        <div class='return'>
      <ul class="return__list">
            <h2 class="return__heading">СПОСОБЫ ОПЛАТЫ</h2>
            
              <li class="return__title">
                Оплата наличными
                <div class="return-content">
                  <ul>
                    <li class="return-content__item">Oплатить Ваш заказ самостоятельно Вы можете в магазине с Пн. по Пт. с 10:00 до
                  19:00 по адресу:
                  Украина, г. Киев, проспект Победы 18</li>
                  <li class="return-content__item">Оплата производится только в национальной валюте.</li>
                  </ul>
                </div>
              </li>
              <li class="return__title">
                Наложенный платеж
          
                <div class="return-content">
                  <ul> 
                    <li class="return-content__item">
                  Оплата производится при получении посылки с товаром в почтовом отделении по тому
                  адресу, который Вы указали при
                  оформлении заказа.</li>
                  </ul>
                </div>
              </li>
              <li class="return__title">
                Оплата банковскими картами
                <div class="return-content">
                  <ul>
                    При оплате банковской картой действует дополнительная скидка. К оплате
                  принимаются следующие типы банковских карт:
                  
                    <li class="return-content__item">Mastercard (скидка 5%)</li>
                    <li class="return-content__item">Visa (скидка 5%)</li>
                    Для осуществления платежа Вам потребуется ввести данные Вашей банковской карты. Передача этих сведений
                    производится с
                    соблюдением всех необходимых мер безопасности. Информация передается в зашифрованном виде и сохраняется только
                    на
                    специализированном сервере платежной системы. Сайт и магазин не знают и не хранят данные по вашей банковской
                    карте.
                    Действует ограничение при оплате по зарубежным картам на уровне - 1 операции на сумму не более 2 100.00 грн.
                  </ul>
                </div>
              </li>
            </ul> 
      </div>
