<h2 class='head-delivery'>Доставка</h2>
<section class='nav-product'>
  <div class='js-nav-product container'></div>
</section>
<section>
  <div class='container delivery'>
    <div class='mainfoto js-mainfoto'></div>
    <div class='maindescrption'>
      <ul class='description js-description'></ul>
    </div>
  </div>
</section>

<section class='question container'>
  <h3 class='question-answer'>
    ВОПРОСЫ И ОТВЕТЫ
  </h3>
  <div class='question-main js-question-main'>
    <ul class='question-body'></ul>
  </div>
</section>
<section class='formquestion container'>
  <div class='formquestion-head'>
    <svg class='message__icon' role='img' width='36px' height='28px' aria-label='Иконка солнца'>
      <use href='./images/sprite.svg#sun'></use>
    </svg>
    <h3 class='ask-question'>ЗАДАТЬ ВОПРОС</h3>
  </div>
  <form class='js-question-form' autocomplete='off'>
    <div class='form-input'>
      <lable>
        <input type='text' class='input-name' name='name' placeholder='ВВЕДИТЕ ИМЯ' />
      </lable>
      <lable>
        <input name='number' class='input-name' type='number' placeholder='ВВЕДИТЕ ТЕЛЕФОН' />
      </lable>
      <lable>
        <input name='input-time' class='input-name' type='text' placeholder='ВВЕДИТЕ УДОБНОЕ ВРЕМЯ' />
      </lable>
    </div>
    <lable>
      <textarea name='coment' class='input-coment' type='submit' rows='6' placeholder='ДОБАВИТЬ КОММЕНТАРИЙ'></textarea>
    </lable>
    <button class='input-button' type='submit' aria-label="sign up">ЗАПИСАТЬСЯ</button>
  </form>
</section>