{{#each this}}
  <li class='brand-our-advantages-card'>
    <svg class='brand-our-advantages-card__icon'>
      <use href={{url}}></use>
    </svg>
    <p class='brand-our-advantages-card__text'>
      {{text}}
    </p>
  </li>
{{/each}}