
<div class="form-fitting-showroom">
<h4 class="form-fitting-showroom__title">Записаться на примерку в шоуруме</h4>
  <form class="form-fitting-showroom__form" action="#">
<div class="form-fitting-showroom__horiz-block">

  

          <label class="form-fitting-showroom__input-box">

            <span class="form-fitting-showroom__input-wrapper">
              <input
                type="tel"
                name="user-tel"
                class="form-fitting-showroom__input"
                required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                placeholder="Введите имя"
            >

            </span>
          </label>
          <label class="form-fitting-showroom__input-box">

            <span class="form-fitting-showroom__input-wrapper">
              <input
                type="tel"
                name="user-tel"
                class="form-fitting-showroom__input form-fitting-showroom__input-center"
                required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                placeholder="Введите телефон"
            >

            </span>
          </label>
          <label class="form-fitting-showroom__input-box">

            <span class="form-fitting-showroom__input-wrapper">
              <input
                type="tel"
                name="user-tel"
                class="form-fitting-showroom__input"
                required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                placeholder="Введите удобное время"
            >
            </span>
          </label>
</div>
<div class="form-fitting-showroom__horiz-block">
          <label class="form-fitting-showroom__comment-box">

            <textarea
              name="user-comment"
              class="form-fitting-showroom__comment"
              placeholder="Добавить комментарий"
            ></textarea>
          </label>
          <div class="form-fitting-showroom__button">
            <button class="form-fitting-showroom__send-btn-text" type="submit">
              Записаться
            </button>
          </div>
</div>

  </form>




</div>