<section class='brand-section-our-advantages section'>
  <div class='container'>
    <h3 class='brand-section-our-advantages__title'>Наши преимущества</h3>
    <ul class='brand-section-our-advantages__ul'>
      {{{cardBrandOurAdvantages}}}
    </ul>
    <div class='form-box'>
      {{{formBrand}}}
    </div>
  </div>
</section>