.catalog-category-header,
.catalog-collection-header {
  font-family: var($third-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.catalog-collection-header {
  margin-top: 30px;
}

.catalog-collection-header:current {
  color: #ae9177;
}
.category-item,
.collection-item {
  font-family: var($third-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #222222;

  display: none;
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

.open-item {
  display: block;
}

.category-item:hover,
.category-item:focus,
.collection-item:hover,
.collection-item:focus {
  color: #ae9177;
}

.filter-category-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-category-filter {
  -webkit-tap-highlight-color: transparent;
}
