.catalog__box {
  background-color: var($modal-background-color);
  @media screen and (min-width: $desktop-up) {
    display: flex;
    justify-content: space-between;
  }
}
.catalog__gallery-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 16px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet-general) {
    grid-template-columns: repeat(3, 215px);
  }
  @media screen and (min-width: $desktop-up) {
    grid-template-columns: repeat(4, 260px);
  }
}

.catalog-product-card {
  box-sizing: border-box;
  grid-row-start: span 1;
  height: 390px;
  padding-bottom: 120px;

  @media screen and (min-width: $tablet-general) {
    grid-row-start: span 2;
    height: 420px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop-up) {
    grid-row-start: span 2;
    height: 473px;
    padding-bottom: 100px;
  }
}

.catalog-product-card:nth-child(5n + 5) {
  @media screen and (max-width: $mobile-only) {
    grid-row-start: span 2;
    grid-column-start: span 2;
    height: 630px;
  }
}
.catalog-product-card:nth-child(10n + 3),
.catalog-product-card:nth-child(10n + 4),
.catalog-product-card:nth-child(10n + 6),
.catalog-product-card:nth-child(10n + 8) {
  @media screen and (min-width: $tablet-general) and (max-width: $tablet-only) {
    grid-row-start: span 3;
    height: 640px;
  }
}

.catalog-product-card:nth-child(22n + 4),
.catalog-product-card:nth-child(22n + 8),
.catalog-product-card:nth-child(22n + 12),
.catalog-product-card:nth-child(22n + 19) {
  @media screen and (min-width: $desktop-up) {
    grid-row-start: span 3;
    height: 715px;
  }
}

//==<<<<<<<<<<<<<<<<=== hides more cards than maket (скрывает больше карточек. Для открытия дополнительных, менять этот параметр в сторону увеличения цифры)
.catalog-product-card:nth-child(n + 23) {
  display: none;
}
//==<<<<<<<<<<<<<<<<=== hides more cards than maket (скрывает больше карточек. Для открытия дополнительных, менять этот параметр в сторону увеличения цифры)

.catalog-product-card__about-box {
  @media screen and (min-width: $desktop-up) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-product-card__content {
  position: relative;
}
.catalog-product-card__title {
  width: 90%;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: var ($third-logo-color);
  min-height: 35px;
  margin-top: 19px;
  margin-bottom: 15px;

  @media screen and (min-width: $desktop-up) {
    min-height: 35px;
    margin-top: 19px;
    margin-bottom: 15px;
  }
}
.catalog-product-card__price {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: var($third-logo-color);
}

.catalog-product-card__image-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  &:hover,
  &:focus {
    box-shadow: 0 0 20px #afafaf;
  }
}

.catalog-product-card__image {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: box-shadow $time-cubic;
  @media screen and (min-width: $desktop-up) {
    object-fit: cover;
    height: 100%;
  }
}

.catalog-product-card__heart {
  position: absolute;
  width: 16px;
  height: 13px;
  top: 19px;
  right: 2px;
  z-index: 1;
  fill: none;
  cursor: pointer;
  @media screen and (min-width: $desktop-up) {
    width: 21px;
    height: 18px;
    top: 5px;
  }
}

.heart-click {
  fill: #d7bca3;
}
.catalog-product-card__about {
  font-family: var($third-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.75;
  color: #afafaf;
  margin-bottom: 0;
}
.catalog__gallery-raws-icon {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  z-index: 1;
  transition: fill $time-cubic;
  // fill: #c7c7c7;
  fill: transparent;
  stroke: rebeccapurple;
  &:hover,
  &:focus {
    fill: #afafaf;
  }
}

.catalog__title {
  display: none;
  @media screen and (min-width: $desktop-up) {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
    font-size: 21px;
    line-height: 0.95;
    text-align: center;
    letter-spacing: 0.05em;
    color: var($secondary-title-text-color);
    text-transform: uppercase;
  }
}
.catalog-filter {
  display: none;

  @media screen and (min-width: $desktop-up) {
    display: block;
    cursor: pointer;
    align-items: stretch;
    width: 100%;
  }
}
.catalog-product-card--wrapper {
  height: 100%;
  width: 100%;
}

.catalog {
  padding-bottom: 21px;
  padding-top: 25px;

  @media screen and (min-width: $desktop-up) {
    padding-bottom: 350px;
    padding-top: 69px;
  }
}
