.catalog-container {
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 374px;
  height: auto;
  background-color: var($modal-background-color);

  @media screen and (min-width: 1378px) {
    min-width: 1134px;
    display: flex;
  }
}
.catalog-list {
  position: static;
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  margin-bottom: 39px;
  display: flex;

  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(8),
  &:nth-child(11),
  &:nth-child(13),
  &:nth-child(16),
  &:nth-child(18) {
    margin-right: 20px;
  }

  &:nth-child(n + 20) {
    display: none;
  }
  @media screen and (min-width: 1378px) {
    width: 260px;
    height: 373px;
    margin-right: 32px;
    &:nth-child(n + 20) {
      display: flex;
    }
    &:nth-child(-n + 19) {
      display: none;
    }
  }
}
.catalog-card {
  display: block;
}

.card-content {
  position: relative;
}
.card-name {
  width: 140px;
  font-family: var($third-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: var ($third-logo-color);
}
.card-price {
  font-family: var($third-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: var($third-logo-color);
}
.card-image {
  position: relative;
  width: 100%;
}
.card-icon {
  position: absolute;
  width: 16px;
  height: 13px;
  right: 1px;
  bottom: 60%;
}
.card-descr {
  font-family: var($third-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.75;
  color: var($description-color);
}
.catalog-icon-raws-round {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 50%;
  bottom: 50%;
  z-index: 1;
  bottom: -500%;
}

.catalog-category-container,
.catalog-category-name {
  display: none;
  @media screen and (min-width: 1378px) {
    display: block;
  }
}
.catalog-category-container {
  margin-right: 45px;
  width: 351px;
}
