<ul class='fitting__description-item'>
  <h3 class='fitting__minor-title'>
    ПО КИЕВУ:
  </h3>
  <li class='fitting__shipping-list'>
    <p class='fitting__shipping-description'>
      Вы можете примерить и подобрать желанный образ изделий в нашем
        шоуруме.
    </p>
  </li>
  <li class='fitting__shipping-list'>
    <p class='fitting__shipping-description'>
      В удобное место и время можно заказать примерку со стилистом
        бренда, подобрать желанный образ и получить индивидуальные
        рекомендации. Примерка может занимать до 2-х часов.
    </p>
  </li>
  <li class='fitting__shipping-list'>
    <p class='fitting__shipping-description'>
      Также можно заказать доставку с возможностью примерки перед
        покупкой, в течение 15-ти минут.
    </p>
  </li>
</ul>
<ul class='fitting__description-item'>
  <h3 class='fitting__minor-title'>
    ПО УКРАИНЕ:
  </h3>
  <li class='fitting__shipping-list'>
    <p class='fitting__shipping-description'>
      Заказы по Украине отправляются по полной предоплате на сайте
        картой любого банка, без комиссии.
    </p>
  </li>
  <li class='fitting__shipping-list'>
    <p class='fitting__shipping-description'>
      Можно сделать доставку с возможностью примерки в течение 15-ти
        минут, об этом нужно сообщить менеджеру при подтверждении
        заказа. Если изделие Вам не подходит, Вы можете сразу же его
        отдать курьеру. Затем связаться с нами по телефону 8 495 150 14
        77, чтобы оформить обмен или возврат. Подробнее здесь (ссылка на
        страницу обмен и возврат)
    </p>
  </li>
</ul>