<div class="fitting_description-item">
    <h3 class="fitting_minor-title">ПО КИЕВУ:</h3>
    <p class="fitting_product-shipping--description">
        Вы можете примерить и подобрать желанный образ изделий в нашем
        шоуруме.
    </p>
    <p class="fitting_product-shipping--description">
        В удобное место и время можно заказать примерку со стилистом
        бренда, подобрать желанный образ и получить индивидуальные
        рекомендации. Примерка может занимать до 2-х часов.
    </p>
    <p class="fitting_product-shipping--description">
        Также можно заказать доставку с возможностью примерки перед
        покупкой, в течение 15-ти минут.
    </p>
</div>
<div class="fitting_description-item">
    <h3 class="fitting_minor-title">ПО УКРАИНЕ:</h3>
    <p class="fitting_product-shipping--description">
        Заказы по Украине отправляются по полной предоплате на сайте
        картой любого банка, без комиссии.
    </p>
    <p class="fitting_product-shipping--description">
        Можно сделать доставку с возможностью примерки в течение 15-ти
        минут, об этом нужно сообщить менеджеру при подтверждении
        заказа. Если изделие Вам не подходит, Вы можете сразу же его
        отдать курьеру. Затем связаться с нами по телефону 8 495 150 14
        77, чтобы оформить обмен или возврат. Подробнее здесь (ссылка на
        страницу обмен и возврат)
    </p>
</div>