
<div class="size">
    <h1>
        Hello!
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officia. Dolor nobis incidunt est voluptates rerum
        architecto illum, autem, iste doloremque atque laudantium id, obcaecati officiis molestiae. Ullam, architecto error.
    </p>
</div>



<button class="button-Close" type="button">
    ЗАКРЫТЬ
    <svg class="button-Close-icon" aria-label="Close modal window"  >
        <use href="../../../images/exampl.svg#icon-menu_burger_close" ></use>
    </svg>
</button>



{{!-- 
icon-close 
--}}

{{!-- <img src="../../../images/svg/sprite.svg" alt=""> --}}


{{!-- 
<button class="hader__mobile-menu-btn" type="button" data-menu-button>
    <svg class="hader__mobile-icon" aria-label="Переключатель мобильного меню">
        <use href="./images/icons.svg#icon-menu"></use>
    </svg>
</button> 
--}}