<div class="size-table-backdrop">
    <div class="size-table-modal-container">
        <button class="size-table-button-close" type="button" data-size-table-modal-close>
            <span class="size-table-button-close-text">ЗАКРЫТЬ</span>
            <svg class="size-table-button-close-icon" aria-label="close modal window">
                <use href="../../../images/exampl.svg#icon-menu_burger_close"></use>
                {{!-- <use href="./images/exampl.svg#icon-menu_burger_close"></use> --}}
            </svg>
        </button>
        <h2 class="size-table-title">ВЫБЕРИТЕ РАЗМЕР</h2>
        <ul class="size-table-size-list">
            {{#each [] }}
            <li class="tag-list-item">{{{this}}}</li>
            {{/each}}
        </ul>
    </div>
</div>