<h3 class="fitting__minor-title">ТАБЛИЦА РАЗМЕРОВ</h3>
<ul class="responsive-table">
    <li class="fitting__first-row">
        <div class="fitting-column">Размеры</div>
        <div class="fitting-column">Грудь</div>
        <div class="fitting-column">Талия</div>
        <div class="fitting-column">Бедра</div>
        <div class="fitting-column">Рукав</div>
    </li>
    <li class="fitting-row">
        <div class="fitting-column col1">40 <span class="fitting__size">XS</span></div>
        <div class="fitting-column col2">80</div>
        <div class="fitting-column col3">60</div>
        <div class="fitting-column col4">88</div>
        <div class="fitting-column col5">40</div>
    </li>
    <li class="fitting-row">
        <div class="fitting-column col1">42 <span class="fitting__size">S</span></div>
        <div class="fitting-column  col2">84</div>
        <div class="fitting-column col3">64</div>
        <div class="fitting-column col4">92</div>
        <div class="fitting-column col5">40</div>
    </li>
    <li class="fitting-row">
        <div class="fitting-column col1">44 <span class="fitting__size">M</span></div>
        <div class="fitting-column col2">88</div>
        <div class="fitting-column col3">68</div>
        <div class="fitting-column col4">96</div>
        <div class="fitting-column col5">40</div>
    </li>
    <li class="fitting-row">
        <div class="fitting-column col1">46 <span class="fitting__size">L</span></div>
        <div class="fitting-column col2">92</div>
        <div class="fitting-column col3">72</div>
        <div class="fitting-column col4">100</div>
        <div class="fitting-column col5">40</div>
    </li>
    <li class="fitting-row">
        <div class="fitting-column col1">
            48 <span class="fitting__size">XL</span>
        </div>
        <div class="fitting-column col2">96</div>
        <div class="fitting-column col3">76</div>
        <div class="fitting-column col4">104</div>
        <div class="fitting-column col5">41</div>
    </li>
    <li class="fitting-row">
        <div class="fitting-column col1">50 <span class="fitting__size">2XL</span></div>
        <div class="fitting-column col2">100</div>
        <div class="fitting-column col3">80</div>
        <div class="fitting-column col4">108</div>
        <div class="fitting-column col5">42</div>
    </li>
</ul>