


<div>
<div class="size-table-modal-container">
    <h2 class="size-table-standart">ТАБЛИЦА РАЗМЕРОВ</h2>

<table>
    <tr>
        <td>Размеры</td>
        <td>Грудь</td>
        <td>Талия</td>
        <td>Бедра</td>
        <td>Рукав</td>
    </tr>
    <tr>
        <td>40 XS</td>
        <td>80</td>
        <td>60</td>
        <td>88</td>
        <td>40</td>

    </tr>
    <tr>
        <td>42 S</td>
        <td>84</td>
        <td>64</td>
        <td>92</td>
        <td>40</td>
    </tr>
    <tr>
        <td>44 M</td>
        <td>88</td>
        <td>68</td>
        <td>96</td>
        <td>40</td>
    </tr>
    <tr>
        <td>46 L</td>
        <td>92</td>
        <td>72</td>
        <td>100</td>
        <td>40</td>
    </tr>
    <tr>
        <td>48 XL</td>
        <td>96</td>
        <td>76</td>
        <td>104</td>
        <td>41</td>
    </tr>
    <tr>
        <td>48 2XL</td>
        <td>100</td>
        <td>80</td>
        <td>108</td>
        <td>42</td>
    </tr>
</table>
</div>
</div>

