<h3 class="fitting_minor-title">ВИДЕО ПРИМЕРОК</h3>
<div class="fitting_video-slider-container">

    <video class="fitting_first-video" controls>
        <source src="https://player.vimeo.com/video/467408991?title=0&portrait=0&byline=0&autoplay=1" type="video/mp4">
    </video>
    <video class="fitting_video" controls>
        <source src="https://player.vimeo.com/video/467409166?title=0&portrait=0&byline=0&autoplay=1" type="video/mp4">
    </video>
    <video class="fitting_video" controls>
        <source src="https://player.vimeo.com/video/467408624?title=0&portrait=0&byline=0&autoplay=1" type="video/mp4">
    </video>
</div>