<h3 class='fitting__minor-title'>ВИДЕО ПРИМЕРОК</h3>
<div class='fitting__video-slider-container'>

  <div class='splide'>
    <div class='splide__track'>

      <div class='slider'>
        <div class='slider__item'>
          <video class='fitting__first-video' controls src='https://imgur.com/Pq7hxWp.mp4'>
          </video>
        </div>
        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/gIzK9ab.mp4'>
          </video>
        </div>

        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/Pq7hxWp.mp4'>
          </video>
        </div>
        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/Pq7hxWp.mp4'>
          </video>
        </div>
        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/gIzK9ab.mp4'>
          </video>
        </div>

        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/Pq7hxWp.mp4'>
          </video>
        </div>
        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/Pq7hxWp.mp4'>
          </video>
        </div>
        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/gIzK9ab.mp4'>
          </video>
        </div>

        <div class='slider__item'>
          <video class='fitting__video' controls src='https://imgur.com/Pq7hxWp.mp4'>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>