<h3 class="fitting__minor-title">ВИДЕО ПРИМЕРОК</h3>
<div class="fitting__video-slider-container">

    <video class="fitting__first-video" controls>
        <source src="../../../images/img/pexels-polina-tankilevitch-5585996.mp4" type="video/mp4">
    </video>
    <video class="fitting__video" controls>
        <source src="../../../images/img/pexels-polina-tankilevitch-5586008.mp4" type="video/mp4">
    </video>
    <video class="fitting__video" controls>
        <source src="../../../images/img/pexels-polina-tankilevitch-5586009.mp4" type="video/mp4">
    </video>
</div>