<h3 class='fitting__minor-title'>ВИДЕО ПРИМЕРОК</h3>
<div class='fitting__video-slider-container'>
  <div class='splide'>
    <div class='splide__track'>
      <div class='slider video-set-js'>
        {{#each this}}
          <div class='slider__item'>
            <div class='video-fitting__link'>
              <div class='video-fitting-box'>
                <video
                  class='fitting__video'
                  id='{{id}}'
                  src='{{video}}'
                  poster='{{poster}}'
                  preload='none'
                  name='video'
                >
                </video>

                <svg class='video-fitting-svg' name='play'>
                  <use href='./images/exampl.svg#icon-play-video'> </use>
                </svg>
                <svg class='video-fitting-fullscreen' name='fullscreen'>
                  <use href='./images/exampl.svg#icon-fullscreen'> </use>
                </svg>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>