/* ====== VISUALLY HIDDEN ======*/
.hiden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.mobile{
    opacity: 1;

    @media screen and (min-width:$desktop-up){
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}
 /* ====== END VISUALLY HIDDEN ======*/

.is-open{
    pointer-events: auto;
    opacity: 0;
    visibility: hidden;
}

.footer__mobile-logo-text{
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-left: 8px;
}

.footer__mobile{
    background-color: $footer-background-color;
    padding-top: 36px;
    padding-bottom: 26px;

    &__list-item{
        font-size: 15px;
        font-style: normal;
        line-height: 1.4;
        color:$primary-text-color;
    }
}

.footer__mobile-list{
    padding-left: 15px;
}

.footer__mobile-social-list{
    display: flex;
    justify-content: start;
    align-items:center; 
    // border-radius: 50%;
    // transition: background-color $time-function $cubic-bezier;
}
.footer__mobile-icon{
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 15px;
    // transition: fill $time-function $cubic-bezier;
}

.footer__mobile-icon-svg{
    display: block;
    width: 20px;
    height: 20px;
    fill: #2F2F2F;
}

.footer__mobile-list-item-plus{
    position: relative;
}

.footer__mobile-icon-position-relative,
.footer__mobile-icon-position-absolute{
        position: absolute;
        right: 0;
}



.footer__mobile-icon-menu{
     width: 11px;
    height: 11px;
}

.footer__mobile-submenu{
        font-weight: 500;
        font-size: 15px;
        color: $primary-logo-color;
        padding-bottom: 5px;
        padding-left: 10px;
}

.footer__mobile-list-item{
        &-plus{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            font-size: 15px;
            color: $primary-logo-color;
    }
}

.border{
        border-top:  1px  solid #d3d1d1;
        padding-top: 15px;
        padding-bottom: 15px;
}

.footer__list-dropdown.js-dropdown{
    display: none;
}

.footer__mobile-icon-menu-open{
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
}

.footer__mobile-icon-menu-close{
    position: absolute;
    top: 0px;
}

.footer__mobile-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;

}

.footer__mobile-icon-logo{
    width: 101px;
    height: 19px;
}
.footer__mobile-logo-list{
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer__mobile-form-subscribe{
    margin-top: 28px;
}

.footer__mobile-form-position{
    position: relative;
    padding-left: 15px;
}
.footer__mobile-title-subscribe{
    color: $primary-logo-color;
    padding-left: 15px;
    font-size: 15px;
    line-height: 21px;
}

.footer__mobile-form-input{
    border: none;
    border-bottom:  1px  solid #222222;
    width: 100%;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.1em;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 25px;
    color: $primary-logo-color;
}

.footer__mobile-subscribe-button{
    position: absolute;
    border: none;
    outline: none; 
    background-color: transparent; 
    top: 10px;
    cursor: pointer;
    
}
.footer__mobile-list-dropdown.js-dropdown{
    display: none;
    margin-top: 15px;
}
.footer__mobile-icon-subscribe{
    text-align: center;
    width: 22px;
    height: 6px;
    
}
.footer__mobile-icon-subscribe-button{
    width: 22px;
    height: 6px;

}


// Dropdown PC hover

// .footer__list-dropdown{
//     display: none;
//     // position: absolute;
//     min-width: 160px;
// }
// /* Dropdown Content (Hidden by Default) */
// .dropdown-content {
//     display: none;
//     min-width: 160px;
// }

// /* Links inside the dropdown */
// .dropdown-content{
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
// }
// /* Change color of dropdown links on hover */
// .dropdown-content:hover {background-color: #ddd;}
// /* Show the dropdown menu on hover */
// .js-dropdown:hover .footer__list-dropdown {display: block;}
// /* Change the background color of the dropdown button when the dropdown content is shown */
// .js-dropdown:hover .test {background-color: $accent-color;}


//==============desktop=========//


 .desktop{
     opacity: 1;
     display: flex;
    padding-top: 105px;

 

    @media screen and (max-width:$desktop-up){
     position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
}
.footer__desktop-logo{
    margin-right: 47px;
}

.footer__desktop-icon-logo{
    display: block;
    width: 124px;
    height: 23px;
    margin-top: 14px;
    margin-bottom: 44px;

}


.footer__desktop-list{
    display: flex;
    justify-content:space-between;
    margin-bottom: 45px;
    
}


.footer__desktop-list-contacts-email{
    margin-top: 30px;
    
}

.footer__desktop-list-contacts-telephon,
.footer__desktop-list-contacts-chat,
.footer__desktop-list-contacts-email{
    line-height: 25px;
    color: $secondary-text-color;

}

.footer__desktop-item,
.footer__desktop-list-link{
    line-height: 2.9;
    color: $secondary-text-color;

}
.footer__desktop-list-contacts-info{
    display: flex;
    align-items: baseline;


}
.footer__desktop-list-contacts{
    font-size: 15px;
    line-height: 1.7;
    color: $secondary-text-color;

}

.footer__desktop-item-contacts-info{
    line-height: 1.5;
    color: $secondary-text-color;
    &:first-child{
    margin-right: 71px;

}
}

.footer__desktop-menu{
    display: block;
    margin-right: 83px;

}

.footer__desktop-social-list{
    display: flex;

}

.footer__desktop-icon{
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        margin-top: 37px;
    // transition: fill $time-function $cubic-bezier;
    &:hover,
    &:focus{
        fill: $accent-color;

    }
}

.footer__desktop-icon-svg{
    display: block;
    width: 20px;
    height: 20px;
    fill: #2F2F2F;
}

.footer__desktop-form{
display: flex;
flex-direction: column;
margin: 0;
}

.footer__desktop-form-input{
    margin-bottom: 11px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $secondary-text-color;
    border: 1px solid #D7B494;
    box-sizing: border-box;
    outline: none;
    &:hover,
    &:focus,
    &:active{
        border-color: #D7B494;
    }


}

.footer__desktop-license{
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.footer__desktop-checkbox-container{
    position: relative;
    display: flex;
    align-items: center;
}

.footer__desktop-checkbox{
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer__desktop-license-icon-checkbox{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    margin-right: 11px;
    border-radius: 2px;

    &:hover,
    &:focus{
        border-color: #a19e9a;
    }
}

.footer__desktop-checkbox:checked >.footer__desktop-license-input-icon-checkbox{
    background-color: #D7B494;
    border-color: #D7B494;
    background-origin: border-box;
}

.footer__desktop-license-input-icon-checkbox{
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    
}

.footer__desktop-license-checkbox-text{
    font-size: 13px;
    line-height: 1.54;

}
.footer__license__checkbox-text-doc{
    color: #D7B494;
}