
.footer__container.absolute{
    position: absolute;
    background-color: transparent;
   
}


/* ====== VISUALLY HIDDEN ======*/
.hiden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.mobile{
    display: block;
    opacity: 1;
    @media screen and (min-width:$desktop-up){
        opacity: 0;
        display: none;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}
 /* ====== END VISUALLY HIDDEN ======*/

.is-open{
    pointer-events: auto;
    opacity: 0;
    visibility: hidden;
}

.footer__mobile-logo-text{
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-left: 8px;
}

.footer__mobile{
    background-color: $footer-background-color;
    padding-top: 36px;
    padding-bottom: 26px;

    &__list-item{
        font-size: 15px;
        font-style: normal;
        line-height: 1.4;
        color:$primary-text-color;
    }
}

.footer__mobile-list{
    padding-left: 15px;
}

.footer__mobile-social-list{
    display: flex;
    justify-content: start;
    align-items:center; 
    // border-radius: 50%;
    // transition: background-color $time-function $cubic-bezier;
}
.footer__mobile-icon{
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 15px;
    // transition: fill $time-function $cubic-bezier;
}

.footer__mobile-icon-svg{
    display: block;
    width: 20px;
    height: 20px;
    fill: #2F2F2F;
}

.footer__mobile-list-item-plus{
    position: relative;
    
}

.footer__mobile-icon-position-relative,
.footer__mobile-icon-position-absolute{
    position: absolute;
    right: 0;
}

.footer__mobile-list-dropdown{
    margin-top: 15px;
}

.footer__mobile-icon-menu{
    width: 11px;
    height: 11px;
}

.footer__mobile-submenu{
    font-weight: 500;
    font-size: 15px;
    color: $primary-logo-color;
    padding-bottom: 10px;
    padding-left: 10px;

}

.footer__mobile-list-item{
    &-plus{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: 15px;
        color: $primary-logo-color;
    }
}

.border{
    border-top:  1px  solid #d3d1d1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__mobile-icon-menu-open{
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
}

.footer__mobile-icon-menu-close{
    position: absolute;
    top: 0px;
}
.footer__mobile-list-contacts-telephon,
.footer__mobile-list-contacts-chat,
.footer__mobile-list-contacts-email{
    line-height: 1.5;
    color: $secondary-text-color;
}
.footer__mobile-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;

}

.footer__mobile-icon-logo{
    margin-right: 7px;
    width: 101px;
    height: 19px;
}
.footer__mobile-logo-list{
    display: flex;
    align-items: center;
    justify-content: end;
}


/*Стили для input*/

.footer__mobile-form{
    position: relative;
}




.footer__mobile-title-subscribe{
    color: $primary-logo-color;
    padding-left: 15px;
    font-size: 15px;
    line-height: 21px;
}

.footer__mobile-form-input{
    border: none;
    border-bottom:  1px  solid #222222;
    width: 100%;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.1em;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 25px;
    color: $primary-logo-color;
    outline: none;

        &:hover,
        &:focus,
        &:active{
            border-color: #D7B494;
        }
}

.js-dropdown{
    display: none;
}


.footer__mobile-form-container,
.footer__desktop-form-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.footer__mobile-subscribe-button{
    position: absolute;
    border: none;
    outline: none; 
    background-color: transparent; 
    cursor: pointer;
    width: 22px;
    height: 22px;
    padding: 0;
}

.footer__desktop-subscribe-button{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    outline: none; 
    background-color: transparent; 
    cursor: pointer;
    border: 1px solid #D7B494;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 0;

    &:hover,
    &:focus{
    background-color: #D7B494;
    }
}

.footer__input-text{
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.1em;
    color: $secondary-text-color;
    padding-left: 12px;

}

.footer__mobile-icon-subscribe,
.footer__desktop-icon-subscribe{
    display: block;
    width: 22px;
    height: 6px;
    cursor: pointer;
}

//==============desktop=========//


 .footer__desktop{
     opacity: 1;
     display: flex;
    padding-top: 105px;

        @media screen and (max-width:$desktop-up){
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        }
}
.footer__desktop-logo{
    margin-right: 47px;
}

.footer__desktop-icon-logo{
    display: block;
    width: 124px;
    height: 23px;
    margin-top: 14px;
    margin-bottom: 44px;
}

.footer__desktop-list{
    display: flex;
    justify-content:space-between;
    margin-bottom: 45px;
    
}


.footer__desktop-list-contacts-email{
    margin-top: 30px;
    
}

.footer__desktop-list-contacts-telephon,
.footer__desktop-list-contacts-chat,
.footer__desktop-list-contacts-email{
    line-height: 25px;
    color: $secondary-text-color;

}

.footer__desktop-item,
.footer__desktop-list-link{
    line-height: 2.9;
    color: $secondary-text-color;

}
.footer__desktop-list-contacts-info{
    display: flex;
    align-items: baseline;


}
.footer__desktop-list-contacts{
    font-size: 15px;
    line-height: 1.7;
    color: $secondary-text-color;

}

.footer__desktop-item-contacts-info{
    line-height: 1.5;
    color: $secondary-text-color;
    &:first-child{
    margin-right: 71px;

}
}

.footer__desktop-menu{
    display: block;
    margin-right: 83px;

}

.footer__desktop-social-list{
    display: flex;
     margin-top: 37px;

}
.footer__desktop-social-list-icon{
    display: block;
        width: 20px;
        height: 20px;
         margin-right: 15px;
        
}

.footer__desktop-icon{
        width: 20px;
        height: 20px;
        
    // transition: fill $time-function $cubic-bezier;
    &:hover,
    &:focus{
        fill: $accent-color;

    }
}

.footer__desktop-icon-svg{
    display: block;
    width: 20px;
    height: 20px;
    fill: #2F2F2F;
}

.footer__desktop-form{
display: block;
margin: 0;
}

.footer__desktop-form-input{
    width: 100%;
    margin-bottom: 11px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $secondary-text-color;
    border: 1px solid #D7B494;
    box-sizing: border-box;
    outline: none;
    &:hover,
    &:focus,
    &:active{
        border-color: #D7B494;
    }
}

.footer__desktop-license{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.footer__desktop-checkbox-container{
    position: relative;
    display: flex;
    align-items: center;
}

.footer__desktop-checkbox{
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.agree.js-show-and-remove{
    opacity: 1;
}

.footer__desktop-license-icon-checkbox{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    margin-right: 11px;
    border: 1px solid #D7B494;
    box-sizing: border-box;
    cursor: pointer;
    

}

.agree{
    opacity: 0;
    position: absolute;
    left: -6px;
    width: 15px;
    height: 2px;
}


.footer__desktop-checkbox:checked+.footer__desktop-license-icon-checkbox{
    border-color: #D7B494;
    background-origin: border-box;

}
.footer__desktop-checkbox:checked

.footer__desktop-license-input-icon-checkbox{
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    
}

.footer__desktop-license-checkbox-text{
    font-size: 13px;
    line-height: 1.54;

}
.footer__license__checkbox-text-doc{
    color: #D7B494;
}

.footer__desktop-icon-subscribe{
    margin-right: 15px;
}