.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1100;
  background-color: $backdrop-color;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  transition: opacity $time-cubic, visibility $time-cubic;

  &.is-hidden {
    // visibility: hidden;
    // opacity: 0;
    // pointer-events: none;
    @extend %hide;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: opacity $time-cubic, transform $time-cubic;
}
