//product
.button-add-likes {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding-bottom: 15px;
  cursor: pointer;

  &__icon {
    fill: transparent;
    stroke: $accent-favorite-btn-color;
    width: 16px;
    height: 14px;

    @media screen and (min-width: $desktop-up) {
      width: 21px;
      height: 18px;
      stroke: $secondary-text-color;
    }
  }
}

.button-counter {
  display: block;
  padding: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid $primery-border-color;
  color: $button-counter-color;
  background-color: $selection-text-color;
  font-family: $selection-font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  &_active:hover,
  &_active:focus {
    color: $selection-text-color;
    background-color: $button-counter-color;
    border: none;
  }

  &__button-icon {
    width: 15px;
    height: 15px;
  }
}

.product-button-modal {
  width: 100%;
  padding: 22px;
  text-align: center;
  background-color: $selection-text-color;
  color: $secondary-text-color;
  border: 1px solid $primery-border-color;
  transition: $time-cubic;

  &:focus,
  &:hover {
    background-color: $secondary-text-color;
    color: $selection-text-color;
    border: none;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop-up) {
    padding: 18px;
    width: 330px;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 14px;
    }
  }
}

.product-close-modal {
  position: absolute;

  right: 0;
  padding: 14px;
  border: none;
  background-color: $primary-logo-color;
  width: 40px;
  height: 40px;
  @media screen and (max-width: $mobile-only) {
    top: 0;
  }

  &__button-text {
    display: none;
    @media screen and (min-width: $desktop-up) {
      margin-right: 36px;
      text-transform: uppercase;
      display: inline;
      color: $selection-text-color;
    }
  }

  &__close-icon {
    width: 12px;
    height: 12px;
  }

  @media screen and (min-width: $desktop-up) {
    bottom: 100%;
    padding: 6px 12px;
    width: auto;

    &_small {
      bottom: calc(100% - 40px);
      padding: 14px;
      width: 40px;
    }
  }
}

.delivery-button {
  display: none;
  @media screen and (min-width: $desktop-up) {
    display: block;
    padding: 16px 13px;
    background-color: $third-text-color;
    border: none;
    color: $selection-text-color;
  }
}
//home-reviews button
//home-review button placeholder styles
%button-line {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: $accent-favorite-btn-color;
}
.reviews-button {
  position: relative;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 13px;
  line-height: 1;

  text-align: center;
  letter-spacing: 0.1em;

  color: $accent-favorite-btn-color;
  border: 1px solid $accent-favorite-btn-color;
  background-color: $primary-background-color;
  cursor: pointer;

  @media screen and (min-width: $desktop-up) {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
  }

  &::before {
    content: '';
    @extend %button-line;
    left: -15px;
  }
  &::after {
    content: '';
    @extend %button-line;
    right: -15px;
  }
}
//home-reviews button-show-less
.button-up {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 20px;

  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/arrow-up-circle-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $desktop-up) {
    bottom: 0px;
    right: 470px;
  }
}
