%button-pad{
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 16px 88px 19px 88px;
}

.button__checkout{
  @extend %button-pad;
  display: block;
  width: 100%;
  background-color:$button-background-color ;
  color: $selection-text-color;

}

.button-add-likes {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding-bottom: 15px;
  cursor: pointer;

  &__icon {
    fill: transparent;
    stroke: $accent-favorite-btn-color;
    width: 16px;
    height: 14px;

    @media screen and (min-width: $desktop-up) {
      width: 21px;
      height: 18px;
      stroke: $secondary-text-color;
    }
  }
}

.delivery-button {
  display: none;
  @media screen and (min-width: $desktop-up) {
    display: block;
    padding: 16px 13px;
    background-color: $third-text-color;
    border: none;
    color: $selection-text-color;

    &:hover,
    &:focus {
      background-color: $selection-text-color;
      color: $third-text-color;
    }
  }
}
//home-reviews button
//home-review button placeholder styles
%button-line {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: $accent-favorite-btn-color;
}
.reviews-button {
  position: relative;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 13px;
  line-height: 1;

  text-align: center;
  letter-spacing: 0.1em;

  color: $accent-favorite-btn-color;
  border: 1px solid $accent-favorite-btn-color;
  background-color: $primary-background-color;
  cursor: pointer;

  @media screen and (min-width: $desktop-up) {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
  }

  &::before {
    content: '';
    @extend %button-line;
    left: -15px;
  }
  &::after {
    content: '';
    @extend %button-line;
    right: -15px;
  }
}
//home-reviews button-show-less
.button-up {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 20px;

  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../images/arrow-up-circle-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $desktop-up) {
    bottom: 0px;
    right: 470px;
  }
}
