.button-add-likes {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding-bottom: 15px;
  cursor: pointer;

  &__icon {
    fill: transparent;
    stroke: $accent-favorite-btn-color;
    width: 16px;
    height: 14px;

    @media screen and (min-width: $desktop-up) {
      width: 21px;
      height: 18px;
      stroke: $secondary-text-color;
    }
  }
}

.product-close-modal {
  position: absolute;

  right: 0;
  padding: 14px;
  border: none;
  background-color: $primary-logo-color;
  width: 40px;
  height: 40px;
  @media screen and (max-width: $mobile-only) {
    top: 0;
  }

  &__button-text {
    display: none;
    @media screen and (min-width: $desktop-up) {
      margin-right: 36px;
      text-transform: uppercase;
      display: inline;
      color: $selection-text-color;
    }
  }

  &__close-icon {
    width: 12px;
    height: 12px;
  }

  @media screen and (min-width: $desktop-up) {
    bottom: 100%;
    padding: 6px 12px;
    width: auto;
  }
}

.product-button-modal {
  width: 100%;
  padding: 22px;
  text-align: center;
  background-color: $selection-text-color;
  color: $secondary-text-color;
  border: 1px solid $primery-border-color;
  transition: $time-cubic;

  &:focus,
  &:hover {
    background-color: $secondary-text-color;
    color: $selection-text-color;
    border: none;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop-up) {
    padding: 18px;
    width: 330px;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 14px;
    }
  }
}
