.mainModal {
  position: absolute;
  top: 20px;
  left: 50%;
  transition: all $time-cubic;
  transform: translate(-50%, 0) scale(0.9);
  background-color: $modal-background-color;
  z-index: 2000;
  @media screen and (min-width: $tablet-only) {
    top: 10%;
  }
}

.close-button-text {
  @media screen and (max-width: $tablet-general) {
    display: none;
  }
  @media screen and (min-width: $tablet-general) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.modal__container {
  min-width: 320px;
  min-height: 150px;
  overflow-y: scroll;
  max-height: calc(100vh - 30px);
}
