.preoder__backdrop {
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  overflow-y: auto;

  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.preorder {
  padding: 70px 20px;
  @media screen and (min-width: $desktop-up) {
    width: 1017px;
    padding: 70px 120px;
  }
}

.preoder__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $button-hover-background-color;
  background-image: url(../images/crossTryOnModal.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  cursor: pointer;
  @media screen and (min-width: $desktop-up) {
    transform: translateY(-100%);
    width: 120px;
    height: 25px;
    background-position: 95px 3px;
    padding: 7px 10px;
  }
}
.preoder__close-button-text {
  display: none;
  @media screen and (min-width: $desktop-up) {
    display: flex;
    align-items: center;
    color: $selection-text-color;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &:after {
    content: '';
    width: 23px;
    height: 1px;
    background-color: $primary-background-color;
    margin-left: 5px;
  }
}

.preorder__title {
  margin-bottom: 32px;

  text-transform: uppercase;
  font-family: $third-font-family, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.05em;

  @media screen and (min-width: $desktop-up) {
    font-size: 30px;
    text-align: left;
  }
}

.preorder__post-title {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-family: $third-font-family, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop-up) {
    font-size: 18px;
    line-height: 1.28;
  }
}

.preorder__text-wrapper {
  @media screen and (min-width: $desktop-up) {
    display: flex;
  }
}

.preorder__text-column:first-child {
  margin-bottom: 23px;
  @media screen and (min-width: $desktop-up) {
    margin-bottom: 0;
    margin-right: 23px;
  }
}

.preorder__text {
  font-family: $selection-font-family;
  font-size: 18px;
  line-height: 1.28;
  & + .preorder__text {
    margin-top: 22px;
  }
}

.contacts {
  margin-top: 27px;
  margin-bottom: 27px;
}

.contacts__link {
  text-transform: uppercase;
  font-family: $third-font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.28;
  color: $primary-text-color;

  transition: color $time-cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.preorder__amount {
  margin-bottom: 36px;

  font-family: $selection-font-family, sans-serif;
  font-size: 19px;
  line-height: 1.21;
  color: $third-text-color;

  @media screen and (min-width: $desktop-up) {
    margin-top: -32px;
  }
}
