// Demo --need correct that
.wrapper {
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px;
  }
}

/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
.slick-slide {
}
/* Слайд активный */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}

/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки */
.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 10px;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../images/svg/hero-svg-original/hero-arrow-left.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url('../images/svg/hero-svg-original/hero-arrow-right.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
  padding: 0px 15px;
}
.slider__item img {
  max-width: 100%;
}
.slider__item.slick-center {
}
