.ordering {
  &__form {
    margin: 0 auto;
    padding: 100px 120px 63px 120px;
    width: 780px;
    height: 516px;
    background-color: $primary-background-color;
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 103px;
    height: 110px;
  }

  &__title {
    display: block;
    font-family: $selection-font-family,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 0.77;

    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-text-color;
    margin-bottom: 20px;
  }

  &__context {
    font-family: $selection-font-family,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.35;

    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-text-color;
    margin-bottom: 50px;
  }

  &__btn-continue {
    display: block;
    margin: 0 auto;
    @extend %button;

    color: $button-text-color;

    width: 330px;
    height: 50px;

    border: 1px solid $button-border-color;

    &:hover,
    &:focus {
      background-color: $button-hover-background-color;
    }
  }
}
