.aboutBrand {
  padding-top: 25px;
  padding-bottom: 25px;

  overflow: hidden;
  @media screen and (min-width: $mobile-first) {
    background-image: url(../images/aboutBrandMob@1x.jpg);
    background-size: 414px 255px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/aboutBrandMob@2x.jpg');
    }
  }
  @media screen and (min-width: $mobile-general) {
    background-position-y: 360px;
    background-position-x: center;
  }

  @media screen and (min-width: $tablet-general) {
    background-position-y: center;
  }

  @media screen and (min-width: $desktop-up) {
    padding-top: 35px;
    padding-bottom: 95px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    background-image: url(../images/aboutBrandDesktop@1x.jpg);
    background-size: 910px 525px;
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: 100px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/aboutBrandDesktop@2x.jpg');
    }
  }
}
.aboutBrand__container {
  padding-right: 35px;
  padding-left: 65px;
  position: relative;

  @media screen and (min-width: $desktop-up) {
    padding: 0 90px;
  }

  &::before {
    content: '';
    width: 150px;
    height: 300px;
    transform: rotate(9deg) skew(-13deg, 0deg);
    background-color: $accent-btn-color;

    position: absolute;
    top: 34%;
    left: -85px;
    @media screen and (max-width: $mobile-general) {
      top: 34%;
      left: -100px;
    }
    @media screen and (min-width: $tablet-general) {
      top: 26%;
      left: 60px;
    }
    @media screen and (min-width: $desktop-up) {
      width: 315px;
      height: 620px;
      top: 4%;
      left: -23%;
    }
  }
  &::after {
    content: '';
    width: 150px;
    height: 300px;
    transform: rotate(8deg) skew(-13deg, 0deg);
    background-color: $accent-btn-color;

    position: absolute;
    top: 34%;
    right: -130px;
    @media screen and (max-width: 413px) {
      top: 37%;
      right: -150px;
    }
    @media screen and (min-width: $tablet-general) {
      top: 27%;
      right: 30px;
    }
    @media screen and (min-width: $desktop-up) {
      width: 315px;
      height: 570px;
      top: 12%;
      right: 30%;
      transform: rotate(5deg) skew(-12deg, 0deg);
    }
  }
}
.aboutBrand__title {
  margin-bottom: 15px;
  font-family: $selection-font-family;
  font-weight: normal;
  font-size: 21px;
  line-height: 0.95;

  text-align: center;
  letter-spacing: 0.05em;

  color: $third-logo-color;

  @media screen and (min-width: $desktop-up) {
    margin-bottom: 145px;
  }
}

.aboutBrand__text-thumb {
  position: relative;
  z-index: 2;

  @media screen and (min-width: $desktop-up) {
    width: 540px;
    margin-left: auto;
  }
}
.aboutBrand__text {
  letter-spacing: 0.05em;

  &--first {
    margin-bottom: 20px;
  }
  &--second {
    margin-bottom: 300px;

    @media screen and (min-width: $desktop-up) {
      margin-bottom: 20px;
    }
  }
  &--third {
    margin-bottom: 15px;
    @media screen and (min-width: $desktop-up) {
      margin-bottom: 30px;
    }
  }
}
.aboutBrand__link {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.aboutBrand__link-text {
  position: relative;
  padding-right: 50px;
  font-family: $secondary-font-family;
  font-size: 13px;
  line-height: 1.77;

  color: $seventh-text-color;

  &::before {
    content: ' / ';
    position: absolute;
    left: 65%;
  }

  &::after {
    content: '';
    width: 25px;
    height: 6px;
    background-image: url(../images/aboutBrandArrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0;
    top: 30%;
  }
}
