.content {
}

.content__item {
}

.content__card {
}

.content__link {
}

.content__category {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: 0.1em;
}

.content__img {
}
