.content {
}

.content__list {
  display: inline-grid;
}

.content__item {
  margin-bottom: 47px;
}

.content__card {
}

.content__link {
}

.content__category {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 15px;
  margin-right: auto;

  @media screen and (min-width: $desktop-up) {
    font-size: 18px;
    line-height: 1.055;
    letter-spacing: 0.05em;
  }
}

.content__img {
  width: 100%;
}
