.hero .container {
  padding-left: 0;
  padding-right: 0;
}

.hero__wrapper {
  height: 100%;
  padding-top: 0;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Basic styles */

/* Slider */
.slick-slider {
  min-width: 0;
}
/* Bounding shell */
.slick-list {
  overflow: hidden;

  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    position: relative;
  }
}
/* Slide Ribbon */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Slide */
// .slick-slide {
// }
/* Slide active */
// .slick-slide.slick-active {
// }
/* Slide basic */
// .slick-slide.slick-current {
// }
/* Slide centered */
// .slick-slide.slick-center {
// }

/* Arrow */
// .slick-arrow {
// }
/* Left arrow */
// .slick-arrow.slick-prev {
// }
/* Right arrow */
// .slick-arrow.slick-next {
// }
/* Arrow is not active */
// .slick-arrow.slick-disabled {
// }

/* Dots */
.slick-dots {
  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -18px);
  }
}
// .slick-dots li {
// }
// .slick-dots button {
// }

/* Specific slider */
.hero__slider {
  position: relative;
  padding: 0px;
}

.hero__slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 10px;

  cursor: pointer;
}
.hero__slider .slick-arrow.slick-prev {
  left: 80px;
  background: url('../images/svg/hero-svg-original/hero-arrow-left.svg') 0 0 / 100% no-repeat;
  border: 0px;
}
.hero__slider .slick-arrow.slick-next {
  right: 80px;
  background: url('../images/svg/hero-svg-original/hero-arrow-right.svg') 0 0 / 100% no-repeat;
  border: 0px;
}
.hero__slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.hero__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $desktop-up) {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.hero__slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.hero__slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: $hero-slider-dots;
  border-radius: 10px;
  border-color: transparent;

  cursor: pointer;
}

.hero__slider .slick-dots li.slick-active button {
  width: 55px;
  border-radius: 10px;
}

.hero__slider .slider__item {
  position: relative;
  padding: 0px 15px;

  @media screen and (min-width: $mobile-first) and (max-width: $mobile-general) {
    padding: 0px;
  }
}
.hero__slider .slider__item img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
// .hero__slider .slider__item.slick-center {
// }

.hero__slider .slider__item h1 {
  position: absolute;
  left: 48%;
  bottom: 17%;
  width: 182px;
  height: 109px;

  font-family: $selection-font-family, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.06em;

  color: $selection-text-color;

  @media screen and (min-width: $desktop-up) {
    left: 55%;
    bottom: 5%;
    width: 433px;
    height: 109px;

    font-size: 20px;
    line-height: 1.3;
  }
}
