.in-instagram {
  padding-top: 25px;
  padding-bottom: 49px;
  @media screen and (min-width: $desktop-up) {
    padding-bottom: 319px;
  }
}
.in-instagram__container {
  position: relative;
}

.in-instagram__title {
  padding: 0 20px 31px;

  font-family: $third-font-family;
  font-weight: 400;
  font-size: 21px;
  line-height: 0.95;

  text-align: center;

  color: $primary-title-text-color;
}

.in-instagram__wrapper {
  height: 100%;
  padding-top: 0;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Basic styles */

/* Slider */
.in-instagram .slick-slider {
  min-width: 0;
}

/* Bounding shell */
.in-instagram .slick-list {
  overflow: hidden;

  position: relative;
}

/* Slide Ribbon */
.in-instagram .slick-track {
  display: flex;
  align-items: flex-start;
}

/* Specific slider */
.in-instagram__slider {
  position: relative;
  padding: 0px;
}

.in-instagram__slider .slick-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin: -30px 0px 0px 0px;

  width: 56px;
  height: 56px;

  font-size: 0;

  border-radius: 50%;
  border: 1px solid $in-instagram-slider-dots-border;
  box-sizing: border-box;

  transform: translateY(-50%);

  cursor: pointer;
}

.in-instagram__slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.in-instagram__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-instagram__slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.in-instagram__slider .slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: $in-instagram-slider-dots;
  border-radius: 10px;
  border-color: transparent;

  cursor: pointer;
}

.in-instagram__slider .slick-dots li.slick-active button {
  width: 55px;
  border-radius: 10px;
}

.in-instagram__slider .slider__item {
  position: relative;
  padding-right: 10px;
}

.in-instagram__slider .slider__item img {
  width: 290px;
  height: 410px;

  @media screen and (min-width: $desktop-up) {
    width: 260px;
    height: 370px;
  }
}
