<!--Catalog-->
<section class='catalog-container'>
  <ul class='catalog-list js-catalog'>
    <svg class='catalog-icon-raws-round'>
      <use href='../../../images/catalog-gallery-icons.svg#icon-raws-round'></use>
    </svg>
  </ul>
</section>