<h2 class='catalog-category-header'>Категории</h2>
<ul class='filter-category-list'>
  {{#each category}}
    <li class='category-item'>{{this}}</li>
  {{/each}}</ul>
<h2 class='catalog-collection-header'>Коллекции</h2>
<ul class='filter-collection-list'>
  {{#each collection}}
    <li class='collection-item'>{{this}}</li>
  {{/each}}</ul>