<li class="catalog-category">
  <h3 class='catalog-category__title'>Категории</h3>
  <ul class='catalog-category__list'>
    {{#each this.filter_category}}
    <li class='catalog-category__item'>{{category}}</li>
    {{/each}}
  </ul>
</li>
<li class="catalog-collection">
  <h2 class='catalog-collection__title'>Коллекции</h2>
  <ul class='catalog-collection__list'>
    {{#each this.filter_collection}}
    <li class='catalog-collection__item'>{{collection}}</li>
    {{/each}}
  </ul>
</li>
