<h2 class='catalog__filter-category'>Категории</h2>
<ul class='catalog__filter-category-list'>
  {{#each filterLib.filter_category}}
  <li class='catalog__filter-category-item'>{{category}}</li>
  {{/each}}
</ul>
<h2 class='catalog__filter-collection'>Коллекции</h2>
<ul class='catalog__filter-collection-list'>
  {{#each filterLib.filter_collection}}
  <li class='catalog__filter-collection-item'>{{collection}}</li>
  {{/each}}
</ul>