{{! <div id='filters'>
  <h2>КАТЕГОРИИ</h2>
  <div class='filters-new'>Новинки</div>
  <div class='filters-skirts'>Юбки</div>
  <div class='filters-tuxedo'>Смокинг</div>
  <div class='filters-suits'>Костюмы</div>
  <div class='filters-accessories'>Аксессуары</div>
  <div class='filters-trousers'>Брюки</div>
  <div class='filters-blouses'>Блузы</div>
  <div class='filters-dresses'>Платья</div>
  <div class='filters-top-and-vest'>Топы и жилеты</div>
</div> }}