<ul class='filter-list'>
  <h2 class='catalog-category-header'>Категории</h2>
  {{#each category}}
    <li class='category-item'>{{this}}</li>
  {{/each}}
  <h2 class='catalog-collection-header'>Коллекции</h2>
  {{#each collection}}
    <li class='collection-item'>{{this}}</li>
  {{/each}}
</ul>