<h2 class='catalog-category-header'>Категории</h2>
<ul class='filter-category-list'>
  {{#each this.filter_category}}
    <li class='category-item'>{{category}}</li>
  {{/each}}</ul>
<h2 class='catalog-collection-header'>Коллекции</h2>
<ul class='filter-collection-list'>
  {{#each this.filter_collection}}
    <li class='collection-item'>{{collection}}</li>
  {{/each}}</ul>