<div class='form__method-ordering form__method-ordering--flex'>
  <div>
    <div class='delivery' role='group'>
      <h3 class="delivery__title">ВЫБЕРИТЕ СПОСОБ ДОСТАВКИ</h3>
      <div class="delivery-method">
        <label class="delivery-method__item">
          <input type='radio' name='delivery-method' value='Showroom' checked />
          <span class="delivery-method__text">Шоурум</span>
        </label>
        <label class="delivery-method__item">
          <input type='radio' name='delivery-method' value='By courier in Kiev' checked />
          <span class="delivery-method__text">Курьером по Киеву</span>
        </label>
        <label class="delivery-method__item">
          <input type='radio' name='delivery-method' value='By courier in Ukraine' checked />
          <span class="delivery-method__text">Курьером по Украине</span>
        </label>
        <label class="delivery-method__item">
          <input type='radio' name='delivery-method' value='By courier abroad' checked />
          <span class="delivery-method__text">Курьером за границу</span>
        </label>  
      </div>
    </div>
    <div class='basic-information' role='group'>
      <h3 class='basic-information__title'>ОСНОВНАЯ ИНФОРМАЦИЯ</h3>
      <label class="basic-information__field">
        <input type='text' name='name' required minlength='2' placeholder='ВВЕДИТЕ ФИО'/>
      </label>
      <label class="basic-information__field">
        <input
          type='text'
          name='tel'
          required
          pattern='[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}'
          title='067-000-00-00'
          placeholder='ВВЕДИТЕ ТЕЛЕФОН'
        />
      </label>
      <label class="basic-information__field">
        <input type='text' name='email' required placeholder='ВВЕДИТЕ E-MAIL' />
      </label>
      <label class="basic-information__field">
        <textarea name='feedback' placeholder='ДОБАВИТЬ КОММЕНТАРИЙ'></textarea>
      </label>
      <label class="basic-information__field">
        <input type="checkbox" name='agreement-conditions' value="I agree" />
        <span class="basic-information__text">Я принимаю договор публичной оферты</span>
      </label>
    </div>
    <div class='payment' role='group'>
      <h3 class="payment-method__title">ВЫБЕРИТЕ СПОСОБ ОПЛАТЫ</h3>
      <div class='payment-method'>
        <label class='payment-method__item'>
          <input type='radio' name='payment-method' value='Payment by card' checked />
          <span class='payment-method__text'>Оплата картой</span>
        </label>
        <label class='payment-method__item'>
          <input type='radio' name='payment-method' value='Cash to the courier' checked />
          <span class='payment-method__text'>Наличными курьеру</span>
        </label>
        <label class='payment-method__item'>
          <input type='radio' name='payment-method' value='C.O.D' checked />
          <span class='payment-method__text'>Наложенный платеж</span>
        </label>
        <label class='payment-method__item'>
          <input type='radio' name='payment-method' value='Buy in installments' checked />
          <span class='payment-method__text'>Купить в рассрочку</span>
        </label>  
      </div>
    </div>
    <div class='total'>
      <p class="total__text">ИТОГО:</p>
      <p class="total__value">1000 <span>&#8372;</span></p>
    </div>
    <button class="button__checkout" type='submit'>ОФОРМИТЬ ЗАКАЗ</button>
  </div>

  <div class='description'>
    <div class="description-thumb">
      <div class="description-images">
        <img class="card-image card-image--no-gap" srcset="./images/buyers.jpg 1x, ./images/buyers@2x.jpg 2x" src="./images/buyers.jpg" alt="покупатели">
        <img class="card-image card-image--no-gap" srcset="./images/mirror_reflection.jpg 1x, ./images/mirror_reflection@2x.jpg 2x" src="./images/mirror_reflection.jpg" alt="зеркальное отражение покупателей">  
      </div>
      <p class="description__text">Все заказы, размещенные на сайте ELEAN бережно и с любовью упакованы в картонную коробку и перевязанны лентой с логотипом бренда.</p>  
      <p class="description__text">Костюмы доставляются в тканевом чехле для комфортного хранения и перевозки. В каждый заказ вкладывается карточка с рекомендациями по уходу за изделиями.</p>     
  </div>
</div>
