<section class='brand-section'>
  <div class='brand-container container'>
    <h2 class='brand-title'>О бренде</h2>
    <div class='brand-video'>
      <svg class='brand-video__player-svg'>
        <use href='./images/exampl.svg#icon-player-play'></use>
      </svg>
      <svg class='brand-video__player-fullscreen' name='fullscreen'>
        <use href='./images/exampl.svg#icon-fullscreen'> </use>
      </svg>
      <div class='brand-video__player'>
        {{{videoBrand}}}
      </div>
    </div>
    <div class='brand-box'>
      <h3 class='brand-title-elean'>ELEAN</h3>
      <div class='brad-box__text-about'>
        <p class='brand-box__text'>Сегодня ELEAN - это первый в Украине магазин готового женского
          смокинга. У нас каждая женщина может подобрать для себя образ со смокингом, такой же как у
          голливудских див и звезд светской хроники.
          <br /><br />
          Костюм со смокингом ELEAN - выбор звёзд эстрады и кино, телеведущих, fashion-стилистов,
          успешных женщин-руководителей, представительниц научной и деловой элиты.<br /><br
          />История бренда началась задолго до первого показа, который состоялся 12 марта 2016 года,
          с мечты автора коллекции, Елены Писаревой о собственном бренде элегантной одежды и
          продолжалась долгие 30 лет накопления профессионального опыта. Вся первая коллекция была
          выполнена из 100% натурального шелка, в нее вошли жентсвенные платья и костюмы.</p>
        <p class='brand-box__text'>В сентябре 2016 года впервые был показан женский костюм со
          смокингом. В сентябре 2017 года в коллекции бренда было уже три модели женских смокингов
          на разные типы фигуры и вкус.
          <br /><br />
          В 2018 году коллекцию пополнило еще 2 модели смокингов и сформирована полная капсула
          дополняющих изделия, таких как блуза с бабочкой, топ с кружевом и даже тельняшка.
          Жемчужиной базовой коллекции стало платье-смокинг.
          <br /><br />
          Кроме базовой коллекции смокингов, каждый сезон мы выпускаем капсулу из 7-12 вещей,
          которые эффектно освежат ваш гардероб. Все коллекции бренда отшиваются только из
          натуральных тканей: шерсть и шелк.</p>
      </div>
      <div class='brad-box__text-about'>
        <div class='brand-box__img'>
          <picture class='brand-img'>
            <source
              srcset='./images/elena-des.jpg 1x, ./images/elena-des@2x.jpg 2x'
              media='(min-width:665px)'
            />
            <source
              srcset='./images/elena-mob.jpg 1x, ./images/elena-mob@2x.jpg 2x'
              media='(min-width:665px)'
            />
            <img src='./images/elena-mob.jpg' alt='Девушка' class='brand-img' />
          </picture>
          <h4 class='brand-box__title'>Елена Писарева</h4>
          <p class='brand-box__about'>Автор коллекции, лекал и технологии пошива в бренде ELEAN.
            Имеет высшее образование инженера - технолога швейных изделий и опыт свыше 30 лет в
            разработке и пошиве изделий.
          </p>
        </div>
        <div class='brand-box__img'>
          <picture class='brand-img'>
            <source
              srcset='./images/two-an-des.jpg 1x, ./images/two-an-des@2x.jpg 2x'
              media='(min-width:665px)'
            />
            <source
              srcset='./images/two-an-mob.jpg 1x, ./images/two-an-mob@2x.jpg 2x'
              media='(min-width:665px)'
            />
            <img src='./images/two-an-mob.jpg' alt='Девушка' class='brand-img' />
          </picture>
          <h4 class='brand-box__title'>Анастасия и Анна</h4>
          <p class='brand-box__about'>Дочери Елены, с детства впитывали мастерство мамы и взяли на
            себя роль в управлении и становлении бренда. Анна является главным стилистом и
            операционным управляющей. Анастасия управляет отделом маркетинга и рекламы.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{{brandOurAdvantages}}}