<section class='catalog section'>
  <div class='container'>
    <h2 class='catalog__title'></h2>
    <div class='catalog__box'>
      <div id='filter' class='catalog-filter'>
        <ul class='catalog-filter__list'>
          {{{filterListMakeup}}}
        </ul>
      </div>
      <div class='catalog__gallery'>
        <ul class='catalog__gallery-list js-catalog'>
          {{{catalogListMarkup}}}
        </ul>
        <div class="catalog__gallery-raws-icon">
          {{!-- <svg class='button-add-likes__icon'>
            <use href='./images/icon-product-delivery.svg#icon-heart'></use>
          </svg> --}}
          <button class='button-add-likes {{#if likes}} active{{/if}} js-btn-like' data-id="{{ihd}}">
            <svg class='button-add-likes__icon'>
              <use href='./images/icon-product-delivery.svg#icon-heart'></use>
            </svg>
          </button>


        </div>
      </div>
    </div>
  </div>
</section>