<section class='catalog section'>
  <div class='container'>
    <h2 class='catalog__title'>
    </h2>
    <div class='catalog__box'>
      <div id='filter' class='catalog__filter'>
        <ul class='catalog__filter-list'>
          {{{filterListMakeup}}}
        </ul>
      </div>
      <div class='catalog__gallery'>
        <div class='catalog__gallery-list js-catalog'>
          {{{catalogListMarkup}}}
        </div>
        <svg class='catalog__gallery-raws-icon'>
          <use href='./images/catalog.svg#icon-round-raws'></use>
        </svg>
      </div>
    </div>
  </div>
</section>