<section class='catalog section'>
  <div class='container'>
    <h2 class='catalog__title'></h2>
    <div class='catalog__box'>
      <div id='filter' class='catalog-filter'>
        <ul class='catalog-filter__list'>
          {{{filterListMakeup}}}
        </ul>
      </div>
      <div class='catalog__gallery'>
        <ul class='catalog__gallery-list js-catalog'>
          {{{catalogListMarkup}}}
        </ul>
        <div class="catalog__gallery-raws-icon">
          <svg class='button-add-likes__icon'>
            <use href='./images/catalog.svg#icon-round-raws'></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>