<section class='catalog-section section'>
  <div class='container'>
    <h3 class='catalog-category-name'> </h3>
    <div class='catalog-category-filter-gallery'>
      <div id='filter' class='catalog-category-filter'>
        <ul class='filter-list'>{{{filterListMakeup}}}</ul>
      </div>
      <div class='catalog-gallery'>
        <div class='catalog-list js-catalog'>
          {{{catalogListMarkup}}}
        </div>
        <svg class='catalog-icon-raws-round'>
          <use href='./images/catalog.svg#icon-round-raws'></use>
        </svg>
      </div>
    </div>
  </div>
</section>