<section class='ordering'>
  <div class='container'>
    <form class='js-form'>
      {{{ordering}}}
      {{{createPayment}}}
    </form>
  </div>
  {{!-- {{{backdropMarkup}}} --}}
  {{{mainModal}}}
</section>