<section class='ordering'>
  <div class='container'>
    <h2>ОФОРМЛЕНИЕ ЗАКАЗА</h2>
    <form class='form js-speaker-form'>
      {{{ordering}}}
      {{{createPayment}}}
    </form>
  </div>
</section>