<section class='contacts'>
  <div class='container'>
    <h2 class='contacts__heading'>КОНТАКТЫ</h2>
    <div class='contacts__map-wrapper'>
      {{{contactsMap}}}
    </div>
    <div class='contacts__contacts-wrapper'>
      {{{contactsContact}}}
    </div>
    <div class='contacts__form'>
      {{{formFittingInShowroom}}}
    </div>
  </div>
</section>