<section class='contacts'>
  <div class='contacts-container container'>
    <div class='contacts__title'>

    </div>
    <div class='contacts__contacts'>
      {{{contactsContact}}}
    </div>
    <div class='contacts__map'>
      {{{contactsMap}}}
    </div>
    <div class='contacts__form'>
      {{{formFittingInShowroom}}}
    </div>
  </div>
</section>