<section class='contacts-section'>
  <h2 class='contacts__title'>КОНТАКТЫ</h2>
  <div class='contacts-container container'>
    <div class='contacts__contacts'>
      {{{contactsContact}}}
    </div>
    <div class='contacts__map'>
      {{{contactsMap}}}
    </div>
    <div class='contacts__form'>
      <div class='contacts__form-border'>
        {{{formBrand.page}}}
      </div>
    </div>
  </div>
</section>