<div class="container">
<h2 class="favorites__title">ИЗБРАННОЕ</h2>
<div class="favorites__data">
    {{#each data}}
    <img src="" alt="">
    <div>
        <p></p>
        <p></p>
        <button></button>
        <button></button>
    </div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div>
        <button></button>
        <button></button>
    </div>

    {{/each}}
</div>
<div class="favorites__sand-on-email">
    <p class="favorites__sand-on-email--title">ДЕЙСТВИЯ НАД ЛИСТОМ ПОЖЕЛАНИЙ</p__sand-on-email>
    <div>
        <button class="favorites__sand-on-email--button">ОТПРАВИТЬ НА ПОЧТУ</button>
        <p class="favorites__sand-on-email--text">Список товаров находящихся в “избронном”, будет отправлен на ваш электронный адрес, и вы в любой момент сможете получить
        к нему доступ.</p>
    </div>
</div>
<div class="component">
    {{!-- компонента --}}
</div>
</div>