<section class='fitting_section'>
  <h2 class='fitting_heading'>ПРИМЕРКА</h2>
  <div class='fitting_product-shipping--container'>
    <div class='fitting_background'>
      <div class='fitting_product-shipping'>{{informationAboutFitting_informationCreate}}</div>
      <div class='fitting_size-table'>{{sizeTable_tableCreate}}</div>
    </div>
    <div class='fitting_video-slider'>{{videoSlider_videoSliderCreate}}</div>
    <div class='fitting_form'></div>
  </div>
</section>