<section class='fitting__section'>
  <h2 class='fitting__heading'>ПРИМЕРКА</h2>
  <div class='fitting__product-shipping--container'>
    <div class='fitting__background'>
      <div class='fitting__product-shipping'>{{{informationAboutFitting_informationCreate}}}</div>
      <div class='fitting__size-table'>{{{sizeTable_tableCreate}}}</div>
    </div>
    <div class='fitting__video-slider'>{{{videoSlider_videoSliderCreate}}}</div>
    <div class='fitting__form'></div>
  </div>
</section>