<section class='fitting__section'>
  <div class='container'>
    <h2 class='fitting__heading'>
      ПРИМЕРКА
    </h2>
    <div class='fitting__product-shipping--container'>
      <div class='fitting__product-shipping'>
        {{{informationAboutFitting_informationCreate}}}
      </div>
      <div class='fitting__size-table'>
        {{{sizeTable_tableCreate}}}
      </div>

      <div class='fitting__video-slider'>
        {{{videoSlider_videoSliderCreate}}}
      </div>
      <div class='fitting__form'>
        {{{formBrand.page}}}
      </div>
    </div>
  </div>
</section>