<section class='reviews-section'>
  <div class='container'>
    <h2 class='reviews_title'>ОТЗЫВЫ</h2>
    <div class='videoset'>
      {{{setVideoHbs}}}
    </div>
  </div>
</section>
<section class='star-clients section'>
  {{{clientStar}}}
  <div class='section reviews-section-form'>
    <div class='container'>
      <div class='reviews-formReviews-box'>
        {{{formReviewsMarkUp}}}
      </div>
    </div>
  </div>
</section>