<section class='reviews-section'>
  <div class='container'>
    <h2 class='reviews_title'>ОТЗЫВЫ</h2>
    <div class='videoset'>
      {{{setVideoHbs}}}
    </div>
  </div>
</section>
{{{clientStar}}}
<section class='section showroom-section'>
  <div class='container'>
    <div class='showroom-formfittingInShowroom-box'>
      {{{formReviewsMarkUp}}}
    </div>
  </div>
</section>