<section class='section showroom-page-section'>
  {{{pageShowroomSliderMarkup}}}
  <div class='container'>
    <div class='showroom-formfittingInShowroom-box'>
      {{{formBrand}}}
    </div>
  </div>
</section>