<section class='section showroom-page-section'>
  <div class='showroom'>{{{pageShowroomSliderMarkup}}}</div>

  <div class='container'>
    <div class='showroom-formfittingInShowroom-box'>
      {{{formBrand}}}
    </div>
  </div>
</section>