<div class='backdrop is-hidden' data-modal>
  <div class='form__wrapper'>
    <button class='form__button-сlose' type='button' data-modal-close>
      <span class='form__button-сlose-text'>ЗАКРЫТЬ</span>
      <svg class='form__button-сlose-icon' aria-label='Close modal window'>
        <use href='./images/sprite.svg#icon-close'></use>
      </svg>
    </button>
    {{{this}}}
  </div>
</div>