<section class='help'>
  <div class='help__button-thumb'>
    <button class='help__button button-scroll' aria-label="scroll up"></button>
    <button class='help__button button-phone help__button--orange' aria-label="call me"></button>
    <button class='help__button button-chat help__button--orange' aria-label="open chat">
      <div class='button-chat__messages-amount-thumb'>
        <p class='button-chat__messages-amount'></p>
      </div>
    </button>
  </div>

  <div class='help__phone-modal help__modal'>
    <button class='help__button-close-modal help__button-close-phone-modal' type='button'
      aria-label="open phone send window"></button>
    <form name='client-number' class='client-number__form'>
      <p class='client-number__text'>Оставте свой номер телефона и мы Вам перезвоним в ближайшее
        время и проконсультируем по всем вопросам.</p>
      <div class='client-number__timer'>
        <p class='client-number__timer-text'>Ожидайте звонок через
          <span class='client-number__timer-number'>30</span>
          секунд
        </p>
      </div>
      <label class='client-number__label' for='tel'>
        <input class='client-number__input' type='tel' id='tel' name='user-phone-number'
          placeholder='* * * - * * * - * * - * *' required pattern='[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}'
          title='067-000-00-00' / aria-label="enter your phone">
      </label>

      <button class='help__form-button client-number__button' type='submit' aria-label="send my phone number"
        aria-label="submit phone number">Отправить</button>
    </form>
  </div>

  <div class='help__chat-modal help__modal'>
    <button class='help__button-close-modal help__button-close-chat-modal' type='button'
      aria-label="close chat"></button>
    <div class='help__chat-messages-thumb'>
      <p class='help__chat-message adviser-message'>Здравствуйте! Чем можем Вам помочь?</p>
    </div>
    <form name='client-message' class='client-messadge__form'>
      <label for='' class='client-message__label'>
        <textarea name='client-message-text' id='' class='client-message__textarea' placeholder='Ваш текст...' required
          aria-label="enter your message"></textarea>
      </label>
      <button type='submit' class='help__form-button client-message__button'
        aria-label="send message">Отправить</button>
    </form>
  </div>
</section>