<div class="mainModal">
  <button class='form__button-сlose' type='button' data-modal-close aria-label="close modal">
    <span class='close-button-text'>Закрыть</span>
    <svg class='form__button-сlose-icon' aria-label='Close modal window'>
      <use href='./images/sprite.svg#icon-close'></use>
    </svg>
  </button>
  <div class="modal__container">
  </div>

</div>