<div class="size-table__modal-container">
    <h2 class="size-table__standart">ТАБЛИЦА РАЗМЕРОВ</h2>

<table class="size-table__table">
    <thead>
        <tr>
            <th>Размеры</th>
            <th>Грудь</th>
            <th>Талия</th>
            <th>Бедра</th>
            <th>Рукав</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span>40 XS</span></td>
            <td>80</td>
            <td>60</td>
            <td>88</td>
            <td>40</td>

        </tr>
        <tr>
            <td><span>42 S</span></td>
            <td>84</td>
            <td>64</td>
            <td>92</td>
            <td>40</td>
        </tr>
        <tr>
            <td><span>44 M</span></td>
            <td>88</td>
            <td>68</td>
            <td>96</td>
            <td>40</td>
        </tr>
        <tr>
            <td><span>46 L</span></td>
            <td>92</td>
            <td>72</td>
            <td>100</td>
            <td>40</td>
        </tr>
        <tr>
            <td><span>48 XL</span></td>
            <td>96</td>
            <td>76</td>
            <td>104</td>
            <td>41</td>
        </tr>
        <tr>
            <td><span>48 2XL</span></td>
            <td>100</td>
            <td>80</td>
            <td>108</td>
            <td>42</td>
        </tr>
    </tbody>
</table>
</div>



