<div class="size-chose__modal-container">
        <h2 class="size-chose__title">ВЫБЕРИТЕ РАЗМЕР</h2>
        <ul class="size-chose__size-list">
            {{#each [] }}
            <li>{{{this}}}</li>
            {{/each}}
        </ul>
</div>