{{#each this}}
  <div class='footer__mobile-social border' id='footer-mobile-icon'>
    <ul class='footer__mobile-social-list'>
      <li class='footer__mobile-social-list-icon'>
        <a
          href='https://www.instagram.com/'
          target='_blank'
          rel='noreferrer noopener'
          class='footer__icon-link'
        >
          <svg class='footer__mobile-icon'>
            <use href='./images/exampl.svg#icon-instagram' class='footer__mobile-icon-svg'>
            </use>
          </svg>
        </a>
      </li>
      <li class='footer__mobile-social-list-icon'><a
          href='https://www.facebook.com/'
          target='_blank'
          rel='noreferrer noopener'
          class='footer__mobile-icon-link'
        ><svg class='footer__mobile-icon'>
            <use href='./images/exampl.svg#icon-facebook'>
            </use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
{{/each}}