<form class="ordering__form">
    <svg class="ordering__image">
        <use href="./images/sprite.svg#icon-thanks_for_ordering"></use>
    </svg>
    <h1 class="ordering__title">СПАСИБО ЗА ЗАКАЗ</h1>
    <p class="ordering__context">Ваш заказ принят в обработку.<br>Наши менеджеры свяжутся с вами в ближайшие время.</p>
    <button class="ordering__btn-continue" data-modal-close>ПРОДОЛЖИТЬ ПОКУПКИ</button>
</form>