<div class="ordering__form">
    <svg class="ordering__image">
        <use href="./images/sprite.svg#icon-thanks_for_ordering"></use>
    </svg>
    <b class="ordering__title">СПАСИБО ЗА ЗАКАЗ</b>
    <p class="ordering__context">Ваш заказ принят в обработку.<br>Наши менеджеры свяжутся с вами в ближайшие время.</p>
    <button class="ordering__btn-continue" data-modal-close aria-label="continue shopping">ПРОДОЛЖИТЬ ПОКУПКИ</button>
</div>