<div class='try-on'>

  <h2 class='try-on__title'>
    ХОТИТЕ ПРИМЕРИТЬ ДАННУЮ МОДЕЛЬ ПЕРЕД ПОКУПКОЙ? ЛЕГКО!
  </h2>
  <p class='try-on__text'>
    Поскольку фотографии не передают истинное качество и структуру тканей, ощущение от нежнейшего
    прикосновения шелка на вашем теле, мы предлагаем примерить модели перед покупкой.
  </p>

  <ul class='try-on__list'>
    <li class='try-on__list-item try-on__list-item--first'>
      <p>
        Выберите модели для примерки.
      </p>
    </li>
    <li class='try-on__list-item try-on__list-item--second'>
      <p>
        Оставьте заявку, нажав на кнопку ниже.
      </p>
    </li>
    <li class='try-on__list-item try-on__list-item--third'>
      <p>
        В назначеное время стилист привезет заказаные модели и проведет консультацию.
      </p>
    </li>
    <li class='try-on__list-item try-on__list-item--fours'>
      <p>
        Вы можете оплатить понравившиеся модели после примерки.
      </p>
    </li>
    <li class='try-on__list-item try-on__list-item--fifth'>
      <p>
        Наш стилист подтвердит Вашу заявку и согласует удобное для вас время и место
      </p>
    </li>
  </ul>
  {{{orderForm}}}
</div>