{{! // Try on Modal ("ХОТИТЕ ПРИМЕРИТЬ ДАННУЮ МОДЕЛЬ ПЕРЕД ПОКУПКОЙ? ЛЕГКО!") }}
{{! Надо ещё иконки добавить!!! }}

<div class='try-on'>
  <h2 class='try-on__title'>
    ХОТИТЕ ПРИМЕРИТЬ ДАННУЮ МОДЕЛЬ ПЕРЕД ПОКУПКОЙ? ЛЕГКО!
  </h2>
  <p class='try-on__text'>
    Поскольку фотографии не передают истинное качество и структуру тканей, ощущение от нежнейшего прикосновения шелка на вашем теле, мы предлагаем примерить модели перед покупкой.
  </p>

  <ul class='order-steps'>
    <li class='order-steps__item'>
      Выберите модели для примерки.
    </li>
    <li class='order-steps__item'>
      Оставьте заявку, нажав на кнопку ниже.
    </li>
    <li class='order-steps__item'>
      В назначеное время стилист привезет заказаные модели и проведет консультацию.
    </li>
    <li class='order-steps__item'>
      Вы можете оплатить понравившиеся модели после примерки.
    </li>
    <li class='order-steps__item'>
      Наш стилист подтвердит Вашу заявку и согласует удобное для вас время и место
    </li>
  </ul>
</div>